body.presentation .gurmukhifont {
    font-size: 4vh;
    line-height: 5.2625vh;
}

body.presentation .translation {
	line-height: 3.925vh;
	font-size: 2.5vh;
	margin-top: .6125vh; /* .4 */
}

body.presentation .darpan {
	font-size: 2vh;
	margin-top: .375vh;
	line-height: 3.875vh;
}

body.presentation .transliteration {
	font-size: 2vh;
	margin-top: .75vh;
	line-height: 2.5625vh;
}
