body.presentation .gurmukhifont {
    font-size: 6.66666666666666666656vh;
    line-height: 8.77083333333333333319vh;
}

body.presentation .translation {
	line-height: 6.54166666666666666656vh;
	font-size: 4.1666666666666666666vh;
	margin-top: 1.02083333333333333331vh; /* .4 */
}

body.presentation .darpan {
	font-size: 3.33333333333333333328vh;
	margin-top: .62499999999999999999vh;
	line-height: 6.45833333333333333323vh;
}

body.presentation .transliteration {
	font-size: 3.33333333333333333328vh;
	margin-top: 1.24999999999999999998vh;
	line-height: 4.27083333333333333326vh;
}
