body.presentation .gurmukhifont {
    font-size: 13.3333333333333333333328vh;
    line-height: 17.5416666666666666666659vh;
}

body.presentation .translation {
	line-height: 13.0833333333333333333328vh;
	font-size: 8.333333333333333333333vh;
	margin-top: 2.0416666666666666666665vh; /* .4 */
}

body.presentation .darpan {
	font-size: 6.6666666666666666666664vh;
	margin-top: 1.2499999999999999999999vh;
	line-height: 12.9166666666666666666661vh;
}

body.presentation .transliteration {
	font-size: 6.6666666666666666666664vh;
	margin-top: 2.4999999999999999999999vh;
	line-height: 8.5416666666666666666663vh;
}
