body.presentation .vishraamLight, body.presentation .active .vishraamLight {color: inherit;}
body.presentation .vishraamMedium, body.presentation .active .vishraamMedium {color: inherit;}
body.presentation .vishraamHeavy, body.presentation .active .vishraamHeavy {color: inherit;}
