:root {
	--base-font-size: 6vh;
	--text-font-color: #1A191A;
    --display-vishraam-heavy-color: #AD0028;
    --display-vishraam-medium-color: #00603C;
    --display-vishraam-light-color: #005583;
	--background-color: #f0ede9;
    --display-background-image: url('./images/logo-avani.png');
	
	--secondary-factor: 0.6;
	--punjabi-size: calc(var(--base-font-size)*var(--secondary-factor));
	--english-size: calc(var(--base-font-size)*var(--secondary-factor));
}

.app { width: 100vw; background-color: var(--background-color); }
.overlay { 
	height: 100vh;
	display: flex; 
	padding: 4vh 4vw;
	background-image: var(--display-background-image);
	background-size: contain;
	background-repeat: no-repeat;
}
.overlay-line { display: flex; flex: 1 0 100%; flex-direction: column; justify-content: space-evenly; text-align: left; color: var(--text-font-color); }
.heavy { color: var(--display-vishraam-heavy-color) !important; }
.medium { color: var(--display-vishraam-medium-color) !important; }
.light { color: var(--display-vishraam-light-color) !important; }
.larivaar, .gurmukhi { font-size: var(--base-font-size); }
.punjabi { font-size: var(--punjabi-size); }
.english, .spanish { font-size: var(--english-size); }
.urdu { font-size: var(--english-size); }

.overlay-line .gurmukhi .word:empty::after {
	content: "Shabad OS";
	font-family: sans-serif;
	font-weight: 100;
	opacity: .15;
	color: #342A20;
}

.overlay-line .english.transliteration .word:empty::after {
	content: "The new Shabad OS is more simple, powerful, and accurate than ever.";
	font-family: sans-serif;
	font-weight: 100;
	opacity: 0.12;
	color: #62482C;
}