.configurator {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.simple.configurator * {
  transition: none !important;
}

.configurator .title-bar {
  background-color: var(--configurator-title-background-color);
  transition: 0.3s all;
}

.configurator .title {
  color: var(--configurator-title-text-color);
  text-transform: capitalize;
  transition: 0.3s all;
  margin-left: 20px;
}
  
.menu > div {
  height: 100%;
  background-color: var(--configurator-menu-background-color);
  background-image: var(--configurator-menu-background-image);
  transition: 0.3s all;
  }

.menu .icon {
  color: var(--configurator-menu-icon-color);
  width: 30px;
  transition: 0.3s all;
}

.category-title {
  color: var(--configurator-menu-text-color) !important;
  margin: 10px 20px !important;
  text-transform: uppercase;
  font-size: 0.875rem !important;
  transition: 0.3s all;
  }
  
.item .text span {
  color: var(--configurator-menu-text-color);
  transition: 0.3s all;
}
  
main {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: var(--configurator-background-color);
  color: var(--configurator-text-color);
  height: 100%;
  transition: 0.3s all;
}
  
main p, main svg {
  color: var(--configurator-text-color) !important;
}

main .option {
  margin: 5px;
}

main .icon {
  color: var(--configurator-menu-icon-color) !important;
  height: 25px !important;
  width: 25px !important;
  transition: 0.3s all;
}

@media only screen and (min-width: 600px) {
  main {
    margin-left: 223px;
  }

  .configurator .title {
    margin-left: 240px;
  }
}
