.select {
  font-size: 0.9em !important;
  font-family: 'Noto Sans Medium', sans-serif !important;
  color: var(--configurator-text-color) !important;
}

.select::before {
  display: none;
}

.select::after {
  border-bottom: 2px solid #f50057 !important;
}
