@font-face {
    font-family: "Open Gurbani Akhar";
    font-style: normal;
    font-weight: 400;
    src: url("./OpenGurbaniAkhar-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Open Gurbani Akhar";
    font-style: normal;
    font-weight: 700;
    src: url("./OpenGurbaniAkhar-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Open Gurbani Akhar";
    font-style: normal;
    font-weight: 900;
    src: url("./OpenGurbaniAkhar-Black.otf") format("opentype");
}