{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "jsdoc"
  ],
  "rules": {
    "array-bracket-spacing": [
      "error",
      "always"
    ],
    "arrow-parens": [
      "error",
      "as-needed",
      {
        "requireForBlockBody": false
      }
    ],
    "computed-property-spacing": [
      "error",
      "always"
    ],
    "func-names": [
      "error",
      "never"
    ],
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "linebreak-style": 0,
    "no-await-in-loop": 0,
    "no-loop-func": 0,
    "no-restricted-syntax": 0,
    "no-shadow": 0,
    "object-curly-newline": [
      "error",
      {
        "consistent": true
      }
    ],
    "react/jsx-filename-extension": 0,
    "react/state-in-constructor": 0,
    "react/jsx-props-no-spreading": 0,
    "react/sort-comp": 0,
    "semi": [
      "error",
      "never"
    ],
    "semi-style": [
      "error",
      "first"
    ],
    "space-in-parens": [
      "error",
      "always",
      {
        "exceptions": [
          "empty"
        ]
      }
    ],
    "jsdoc/check-examples": 1,
    "jsdoc/check-param-names": 1,
    "jsdoc/check-types": 1,
    "jsdoc/no-undefined-types": 1,
    "jsdoc/require-description-complete-sentence": 1,
    "jsdoc/require-param-description": 1,
    "jsdoc/require-param-name": 1,
    "jsdoc/require-param-type": 1,
    "jsdoc/require-returns": 1,
    "jsdoc/require-returns-description": 1,
    "jsdoc/require-returns-type": 1,
    "jsdoc/valid-types": 1
  }
}