*.swp
*.go~
*.DS_Store
tmux*
.file_tags.kaktmp
.kak.tags.namecache
tags
nohup.out
*.sass-cache*
styles/main.css.*
*.iml
.idea/
node_modules
*.sqlite
tmp/
dist/
build/
.nyc_output/
coverage/
*.tsbuildinfo
