*.swp
*.go~
*.DS_Store
tmux*
.file_tags.kaktmp
.kak.tags.namecache
tags
.vscode/*
nohup.out
*.sass-cache*
styles/main.css.*
*.iml
.idea/
node_modules
*.sqlite
tmp/
settings.json
dist/
build/
.nyc_output/
coverage/
!.vscode/extensions.json
*.tsbuildinfo