:root {
    /* Display background */
    --display-background-color: #FFFFFF;
    --display-background-image: url('/themes/images/logo.png');

    /* Display line colours */
    --display-gurmukhi-color: #000000;
    --display-translation-color: #212121;
    --display-punjabi-color: #424242;
    --display-transliteration-color: #616161;

    /* Display line pause/vishraam colours */
    --display-vishraam-heavy-color: #FF8F00;
    --display-vishraam-medium-color: #0D47A1;
    --display-vishraam-light-color: #33691E;

    /* Controller colors */
    --controller-background-color: #EEEEEE;
    --controller-text-color: #424242;
    --controller-text-hover-color: #212121;
    --controller-selected-color: #212121;
    --controller-selected-background-color: #CFD8DC;

    /* Controller search colors */
    --controller-search-background-color: transparent;
    --controller-search-focused-background-color: #E0E0E0;
    --controller-search-match-color: #0D47A1;

    /* Controller top and bottom bar colors */
    --controller-bar-text-color: #616161;
    --controller-bar-text-hover-color: #424242;
    --controller-bar-background-color: #F5F5F5;

    /* Scrollbar colour */
    --scrollbar-color: rgba(0, 0, 0, 0.5);

    /* Shortcut help colors */
    --shortcuts-text-color: #212121;
    --shortcuts-background-color: rgba(255, 255, 255, 0.9);
}
