:root {
      /***********/
     /* Display */
    /***********/

    /* Display background */
    --display-background-color: #cdc7bb;
    --display-highlight-background-color: #FFFFFF6B;
    --display-dim-background-color: #28270e2b;
    --display-background-image: url('/themes/images/philosophiae.png');
    --display-background-size: auto;

    /* Display line colours */
    --display-line-1-color: #800000;
    --display-line-2-color: #004080;
    --display-line-3-color: #008040;
    --display-line-4-color: #055d57;

    --display-line-1-opacity: 1;
    --display-line-2-opacity: var(--display-line-1-opacity);
    --display-line-3-opacity: var(--display-line-1-opacity);
    --display-line-4-opacity: var(--display-line-1-opacity);

    --display-extra-line-1-color: var(--display-line-1-color);
    --display-extra-line-2-color: var(--display-extra-line-1-color);
    --display-extra-line-3-color: var(--display-extra-line-1-color);
    --display-extra-line-4-color: var(--display-extra-line-1-color);
    --display-extra-line-5-color: var(--display-extra-line-1-color);

    --display-extra-line-1-opacity: .95;
    --display-extra-line-2-opacity: .90;
    --display-extra-line-3-opacity: .85;
    --display-extra-line-4-opacity: .80;
    --display-extra-line-5-opacity: .75;

    --display-gurmukhi-larivaar-assist-color: #ffffff;
    --display-transliteration-larivaar-assist-color: var(--display-gurmukhi-larivaar-assist-color);

    /* Display line pause/vishraam colours */
    --display-vishraam-heavy-color: #808000;
    --display-vishraam-medium-color: #008000;
    --display-vishraam-light-color: #008080;

      /**************/
     /* Controller */
    /**************/

    /* Controller colors */
    --controller-background-color: #d7d3cc;
    --controller-text-color: #4f596b;
    --controller-text-hover-color: #3f4756;
    --controller-selected-color: #2f3541;
    --controller-selected-background-color: #abb1bc;
    --controller-hover-background-color: #ccd0d7;
    --controller-selected-hover-background-color: #BCC1CA;

    /* Controller search colors */
    --controller-search-background-color: transparent;
    --controller-search-focused-background-color: #efeeec;
    --controller-search-match-color: #0055bb;

    /* Controller top and bottom bar colors */
    --controller-bar-text-color: #3f4756;
    --controller-bar-text-hover-color: #2f3541;
    --controller-bar-background-color: #bdb5a9;

      /*****************/
     /* Settings      */
    /*****************/

    /* Settings Title */
    --settings-title-background-color: var(--controller-bar-background-color);
    --settings-title-text-color: var(--controller-bar-text-color);

    /* Settings Menu */
    --settings-menu-background-color: var(--controller-bar-background-color);
    --settings-menu-text-color: var(--controller-bar-text-color);
    --settings-menu-icon-color: var(--settings-menu-text-color);
    
    /* Settings Content */
    --settings-background-color: var(--controller-background-color);
    --settings-text-color: var(--controller-text-color);
    --settings-setting-off-color: #E9E8E7;
    --settings-setting-on-color: #b88c4a;
    --settings-setting-shadow: #b88c4a2a;

      /*****************/
     /* Miscellaneous */
    /*****************/
    
    /* Scrollbar colour */
    --scrollbar-color: #4f596b80;
}
