.overlay-line p {
  margin: 0;
}

.overlay-line .gurmukhi {
  font-family: "Open Gurbani Akhar Black", sans-serif;
}

.overlay-line .english, .overlay-line .spanish {
  font-family: "Noto Sans Medium", sans-serif;
  font-weight: 700;
}

.overlay-line .punjabi {
  font-family: "Open Anmol Uni Bold", sans-serif;
}

.overlay-line .hindi {
  font-family: "Noto Sans Devanagari Semi Bold";
  line-height: 1.48;
}

.overlay-line .urdu {
  font-family: "Noto Sans Nastaliq Urdu";
  direction: rtl;
}

.overlay-line .gurmukhi .word:after,
.overlay-line .transliteration .word:after {
  content: "\20";
}

.larivaar.overlay-line .word:after {
  content: "\200B";
}
