.display {
  height: 100%;
  transition: 0.3s all ease-in-out;
}

.display .background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--display-background-color);
  background-size: var(--display-background-size);
  background-image: var(--display-background-image);
  background-position: center;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.background.display .background-image {
  opacity: 1;
}

.simple.display,
.simple.display * {
  transition: none !important;
}