/* ------------------------------------
   Line
   ------------------------------------ */

.line {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line.center-text {
  text-align: center;
}

.line.justify-text {
  text-align: justify;
}

.line.center-text.justify-text {
  text-align-last: center;
}

.line.justify-text .gurmukhi {
  text-align: left;
  text-align-last: left;
}

.line.center-text.justify-text .gurmukhi {
  text-align: center;
  text-align-last: center;
}

.line p {
  margin: 0;
}

/*
    Notes for the future:
    Aiming for 1.35*(x-height) for line-heights
    Open Gurbani Akhar line-height by x-height = 1.4
    Noto Sans Medium at 700 = 1.4
    Open Anmol Uni bold = 1.5
    
    English x-height to Open Gurbani Akhar Black = 4:5 ratio
    Open Anmol Uni Bold to Open Gurbani Akhar Black = 15:16 ratio

    So for 1.35 line-height of Open Gurbani Akhar Black we have to set it's CSS line-height to 1.4

    gurmukh is 8vh, corresponding english is 4/5*8vh = 6.4vh
    corresponding english should be 1/1.35=0.740740741, which means 6.4vh is now 4.740740741vh

    gurmukh is 8vh, corresponding punjabi is 15/16*8vh = 7.5vh
    corresponding english should be 1/1.35=0.740740741, which means 7.6vh is now 5.555555555vh

    The line-heights will be 1.35 times what we already have, 1.89 for english and 2.025 for punjabi

    For whatever reason gurmukhi fonts require a negative bottom margin hack
*/

.line .gurmukhi {
  font-family: "Open Gurbani Akhar Black", sans-serif;
  line-height: 1.4;
}

.current-line .gurmukhi {
  margin-bottom: -0.12em;
}

.line .english, .line .spanish {
  font-family: "Noto Sans Medium", sans-serif;
  line-height: 1.89;
  line-height: 1.4;
  font-weight: 700;
}

.line .punjabi {
  font-family: "Open Anmol Uni Bold", sans-serif;
  line-height: 2.025;
  line-height: 1.75;
  line-height: 1.5;
  margin-bottom: -0.15em;
}

.line .hindi {
  font-family: "Noto Sans Devanagari Semi Bold";
  line-height: 1.48;
}

.line .urdu {
  font-family: "Noto Sans Nastaliq Urdu";
  /* default line-height is 2.52 */
  line-height: 2.1;
  word-spacing: .4em;
  direction: rtl;
}

.line .english.transliteration {
  font-family: "Noto Sans Regular", sans-serif;
}

.line .gurmukhi .partition {
  display: inline-block;
}

.partition:after {
  content: "\200B\20"
}

.partition:last-child:after {
  content: ""
}

.line .gurmukhi .word:after,
.line .transliteration .word:after {
  content: "\20";
}

.larivaar.line .word:after, .larivaar.line .partition + .partition:before {
  content: "\200B";
}

.larivaar.assist.line .gurmukhi .word:nth-child(2n) {
  color: var(--display-gurmukhi-larivaar-assist-color);
}

.larivaar.assist.line .transliteration .word:nth-child(2n) {
  color: var(--display-transliteration-larivaar-assist-color);
}

.heavy.vishraams.line .gurmukhi .word.heavy,
.heavy.vishraams.line .vishraams.transliteration .word.heavy {
  color: var(--display-vishraam-heavy-color) !important;
}

.medium.vishraams.line .gurmukhi .word.medium,
.medium.vishraams.line .vishraams.transliteration .word.medium {
  color: var(--display-vishraam-medium-color) !important;
}

.light.vishraams.line .gurmukhi .word.light,
.light.vishraams.line .vishraams.transliteration .word.light {
  color: var(--display-vishraam-light-color) !important;
}

/* ------------------------------------
   Simple lines - remove animations
   ------------------------------------ */

.simple.line * {
  transition: none;
}

.simple.line .fade-enter {
  opacity: 1;
}