.line {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5vh 5vw;
    text-align: center;
}

.line p {
    margin: 0;
}

.line .gurmukhi {
    font-family: "Open Gurbani Akhar Black", sans-serif;
    font-size: 8vh;
    color: var(--display-gurmukhi-color);
    transition: 0.3s all;
}

.line .gurmukhi .word {
  margin-right: 2.25vh;
  display: inline-block;
  transition: 0.3s all;
}

.line .transliteration .word {
  margin-right: 0.8vh;
  display: inline-block;
  transition: 0.3s all;
}

.larivaar.line .word {
    margin-right: 0;
}

.larivaar.assist.line .gurmukhi .word:nth-child(2n) {
    color: var(--display-gurmukhi-larivaar-assist-color);
}

.larivaar.assist.line .transliteration .word:nth-child(2n) {
    color: var(--display-transliteration-larivaar-assist-color);
}

.line .gurmukhi .partition {
    display: inline-block;
}

.heavy.vishraams.line .gurmukhi .word.heavy,
.heavy.vishraams.line .vishraams.transliteration .word.heavy {
    color: var(--display-vishraam-heavy-color) !important;
}

.medium.vishraams.line .gurmukhi .word.medium,
.medium.vishraams.line .vishraams.transliteration .word.medium {
    color: var(--display-vishraam-medium-color) !important;
}

.light.vishraams.line .gurmukhi .word.light,
.light.vishraams.line .vishraams.transliteration .word.light {
    color: var(--display-vishraam-light-color) !important;
}

.line .translation {
    font-family: "Noto Sans Medium", sans-serif;
    font-size: 4vh;
    transition: opacity 100ms ease-in;
    opacity: 0.05;
    color: var(--display-translation-color);
    transition: 0.1s all ease-in;
}

.line .translation.fade-enter {
  opacity: 0.05;
}

.line .punjabi {
    font-family: "Open Anmol Uni Bold", sans-serif;
    font-size: 3.5vh;
    opacity: 0.1;
    color: var(--display-punjabi-color);
    transition: 0.15s all ease-in;
}

.line .punjabi.fade-enter {
  opacity: 0.1;
}

.line .transliteration {
    font-family: "Noto Sans Regular", sans-serif;
    font-size: 3.5vh;
    color: var(--display-transliteration-color);
    transition: 0.2s all ease-in;
  }

.line .transliteration.fade-enter {
  opacity: 0.2;
}

.simple.line * {
    transition: none;
}

.simple.line .fade-enter {
    opacity: 1;
}

.line .fade-enter-done {
    opacity: 1;
}
