.controller {
    height: 100%;
    overflow-y: auto;
    font-size: 1.125em;
}

.controller .line {
    display: block;
    cursor: pointer;
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
    height: auto;
    color: var(--navigator-text-color);
}

.controller .current.line {
    background-color: var(--navigator-selected-background-color);
    font-size: 1.2em;
    color: var(--navigator-selected-color);
}

.controller .current.line:hover {
    font-size: 1.2em;
}
