.navigator {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navigator button {
    font-size: 30px;
    margin-right: 20px;
}

.navigator .name {
    text-align: center;
    flex: 1;
    font-family: "Noto Sans Medium", sans-serif;
    font-size: 28px;
    text-transform: capitalize;
}
