.search {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.search .input {
    height: 2.25rem;
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 0.2em;
}

.search input {
    padding: 0 0.5em;
    font-size: 1.25em;
    font-weight: bold;
    font-family: "Noto Sans Gurmukhi", sans-serif;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
    background-color: var(--navigator-search-background-color);
    transition: 0.2s all;
}

.search input:focus, .search .focused {
    background-color: var(--navigator-search-focused-background-color);
}

.search .results {
    overflow-y: auto;
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-size: 1.25em;
    font-weight: bold;
}

.search .results .result {
    display: block;
    cursor: pointer;
    padding: 0.25em 0.75em;
}

.search .results .result .words {
    font-family: "Noto Sans Gurmukhi", sans-serif;
}

.search .results .result .matched.words {
    color: var(--navigator-search-match-color);
}

.search .results .result .words::after {
    white-space: pre-wrap;
    content: " ";
}
