.navigator {
    height: 100%;
    overflow-y: auto;
    font-size: 1.125em;
}

.navigator .line {
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-weight: bold;
    height: auto;
    color: var(--controller-text-color);
}

.navigator .current.line {
    background-color: var(--controller-selected-background-color);
    font-size: 1.2em;
    color: var(--controller-selected-color);
    padding-left: 1em;
}

.navigator .hotkey {
    font-weight: normal;
    font-size: 0.75em;
    text-transform: uppercase;
    font-family: "Noto Sans Regular", sans-serif;
}

.navigator .line .text {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow-x: hidden;
}
