:root {
		/***********/
	 /* Overlay */
	/***********/

	/* Layout */
	--overlay-flex-justification: flex-start; /*	"flex-start", "space-between", and "flex-end" */

	--overlay-width: inherit;
	/*	Use less than 100vw in conjunction with height 100vh
			to dock the captions to the left side of the screen */
	--overlay-height: inherit; /* Use inherit for automatic height, use 100vh for "full screen" */
	--overlay-vertical-padding: 2.4vh;
	--overlay-horizontal-padding: 1.2vw;

	--overlay-window-display: flex; /* "flex" for full-width, "inline-block" for dynamic width */
	--overlay-window-vertical-padding: 0;
	--overlay-window-horizontal-padding: var(--overlay-window-horizontal-padding);
	
	--overlay-text-align: center; /* "center", "start" (natural convention), "left", or "right" */
	--overlay-text-vertical-padding: 0;
	--overlay-text-horizontal-padding: var(--overlay-text-vertical-padding);
	
	/* Background */
	--overlay-background-color: #f0ede9;
	--overlay-background-image: url('/overlay/themes/images/logo-avani.png');
	--overlay-background-position: 50% 50%;
	--overlay-background-size: contain;
	
	--overlay-window-background-color: none;
	--overlay-window-background-image: none;
	--overlay-window-background-position: 50% 50%;
	--overlay-window-background-size: contain;

	--overlay-text-background-color: none;
	--overlay-text-background-image: none;
	--overlay-text-background-position: 50% 50%;
	--overlay-text-background-size: contain;
	
	--overlay-esc-background: none;
	--overlay-esc-window-background: none;
	--overlay-esc-text-background: none;
	/*	Background definition when the presenter is completely cleared with the escape hotkey,
			can be set with shorthand for full screen overlays or cinematic full-bar overlays. */

	/* Font */
	--overlay-primary-font-size: 4.8vh; /* 90+% of gurbani lines fit on a single line 16:9 with 4.8vh */
	--overlay-primary-font-color: #1A191A; /* Color of gurbani font */
	--overlay-primary-larivaar-assist-color: #5D1C34;
	--overlay-primary-drop-color: none;
	/*	Must be in "R, G, B" format (e.g. "0, 0, 0" without quotes).
			Color of drop shadow/glow for gurbani font. */

	--overlay-secondary-font-size: calc( var(--overlay-primary-font-size) * 0.6 );
	/*	Change the decimal factor to size secondary lines according to gurbani's font size */
	--overlay-secondary-font-color: #413F3E;
	--overlay-secondary-larivaar-assist-color: #78394D;
	--overlay-secondary-drop-color: none; /* Must be in "R, G, B" format (e.g. "0, 0, 0" without quotes) */
	
	/* Vishraam Colors */
  --overlay-vishraam-heavy-color: #AD0028; /* Set to "inherit" to hide colors */
  --overlay-vishraam-medium-color: #00603C;
	--overlay-vishraam-light-color: #005583;
}