.dropdown {
  display: flex;
  align-items: center;
}

.dropdown .label {
  font-family: 'Noto Sans Medium', sans-serif;
}

.dropdown .select {
  font-size: 0.9em;
  font-family: 'Noto Sans Medium', sans-serif;
  color: var(--configurator-text-color);
}

.dropdown .select::before {
  display: none;
}

.dropdown .select::after {
  border-bottom: 2px solid #f50057;
}
