.error-fallback {
  margin: auto 0;
  width: 100%;
}

.error-fallback:before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background-image: url('../themes/images/logo.png');
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 219, 219);
}

.error-fallback .header {
  margin-bottom: 20px;
}

.error-fallback .buttons button {
  margin: 20px;
}

.error-fallback .error {
  max-height: 20%;
  width: 50%;
  margin: 20px auto;
  user-select: all;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 15px;
  color: rgb(200, 20, 30);
  font-family: 'Consolas';
}