@import url("./fonts/noto-sans/index.css");

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 2px;
}

.controller-container {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 273px;
    width: 416px;
}

.controller-container .expand-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 48px;
}

.controller-container.fullscreen {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 3vmin;
}
