.hotkeys .text > * {
  color: var(--settings-text-color);
}

.hotkeys code {
  background-color: var(--settings-text-color);
  color: var(--settings-background-color);
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}
