/*! Warning: These styles assume the structure of Material-UI components and so maybe break when upgrading it */

.select {
  font-size: 0.9em !important;
  color: var(--settings-text-color) !important;
}

.select::before {
  display: none;
}

.select::after {
  border-bottom: 2px solid var(--settings-setting-on-color) !important;
}

.select-menu ul {
  background-color: var(--settings-setting-off-color);
}

.select-menu li {
  color: var(--settings-text-color);
}

.select-menu .MuiSelect-icon {
  color: var(--settings-text-color);
}

.checked.toggle > span,
.slider {
  color: var(--settings-setting-on-color) !important;
}

.checked.toggle > span:last-child {
  background-color: var(--settings-setting-on-color);
}

.checked.toggle > :hover {
  background-color: var(--settings-setting-shadow) !important;
}

.slider .MuiSlider-thumb:hover,
.slider .MuiSlider-thumb.MuiSlider-active {
  box-shadow: 0px 0px 0px 8px var(--settings-setting-shadow) !important;
}

.MuiPopover-paper .MuiListItem-root.Mui-selected {
  background-color: var(--controller-selected-background-color);
}

.MuiPopover-paper .MuiListItem-button:hover {
  background-color: var(--controller-hover-background-color);
}

.MuiPopover-paper .MuiListItem-root.Mui-selected:hover {
  background-color: var(--controller-selected-hover-background-color);
}

.MuiInput-root .MuiSelect-select:focus {
  background-color: transparent;
}

.MuiSwitch-switchBase {
  color: var(--settings-setting-off-color) !important;
}

.button {
  color: var(--settings-text-color) !important;
  background-color: var(--settings-setting-off-color) !important;
}

.button:hover {
  color: var(--settings-background-color) !important;
  background-color: var(--settings-setting-on-color) !important;
}

.option {
  align-items: center;
}

.text-input {
  position: relative;
  width: fit-content;
}

.text-input .status-icon {
  position: absolute;
  right: -1.75em;
  top: 0;
  bottom: 0;
  margin: auto;
}

.text-input .status-icon {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.text-input .status-icon.focused,
.text-input .status-icon.changed,
.text-input .status-icon.saved {
  opacity: 1;
}

.text-input .status-icon.saved {
  color: var(--settings-setting-on-color) !important;
}

.text-input .status-icon.changed {
  color: var(--settings-text-color) !important;
}

.text-input input {
  color: var(--settings-text-color);
  padding: 10.5px 14px;
  background-color: var(--settings-setting-off-color);
}

.text-input fieldset {
  border-color: var(--settings-text-color) !important;
  opacity: 0.5;
}

.text-input .Mui-focused input {
  background-color: var(--settings-setting-off-color);
}

.text-input .Mui-focused fieldset {
  border-color: var(--settings-setting-on-color) !important;
  opacity: 1;
}
