.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .lds-ring {
  display: inline-block;
  position: relative;
  font-size: 100px;
  width: 1em;
  height: 1em;
}

.loader .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 0.8em;
  height: 0.8em;
  margin: 0.1em;
  border: 0.1em solid var(--controller-search-match-color);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--controller-search-match-color) transparent transparent transparent;
}

.loader .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.loader .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.loader .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
