.search {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search .input {
  font-size: 1em;
  height: 2.25em;
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 0.2em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  background-color: var(--controller-search-background-color);
  color: var(--controller-text-color);
  transition: 0.2s all;
}

.search input {
  padding: 0 0.5em;
  font-size: 1.25em;
  font-family: 'Open Gurbani Akhar', 'Open Anmol Uni';
  font-weight: 700;
  height: 100%;
}

.search .clear {
  transition: 0.2s all;
}

.search .input-focused {
  background-color: var(--controller-search-focused-background-color);
}

.search .results {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.search .results .result .words {
  font-family: 'Open Gurbani Akhar';
  font-weight: normal;
}

.search .results .result .matched.words {
  font-family: 'Open Gurbani Akhar';
  font-weight: bold;
  color: var(--controller-search-match-color);
}

.mobile .search .input,
.tablet .search .input {
  min-height: 3.2em;
}

.search .result {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.search .result .secondary, .search .result .citation {
  font-size: 0.8em;
}

.search .result .secondary {
  opacity: .85;
}

.search .result .secondary .english {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

.search .result .secondary .punjabi {
  font-family: "Open Anmol Uni", sans-serif;
}

.search .result .secondary .hindi {
  font-family: "Noto Sans Devanagari";
  font-weight: 600;
}

.search .result .secondary .urdu {
  font-family: "Noto Sans Nastaliq Urdu";
  font-weight: 400;
}

.search .result .secondary .translit.matched {
  color: var(--controller-search-match-color);
  font-weight: bolder;
}

.search .result .secondary .translation {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.search .result .citation {
  opacity: 0.55;
  font-style: italic;
}

.search .result .citation > span + span {
  padding-left: .25em;
}
