@font-face {
    font-family: "Open Anmol Uni";
    font-style: normal;
    font-weight: 900;
    src: url("./OpenAnmolUni-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Open Anmol Uni";
    font-style: normal;
    font-weight: 700;
    src: url("./AnmolUniBaniHeavy.ttf") format("truetype");
}
