{{define "banisPage"}}
<!DOCTYPE html>
<html>
    <head>
        {{template "header"}}
    </head>
<body class="Banis {{.Theme}}">
    {{template "titlebar" .}}
    	<div class="scrollBetweenBars banis">
        </div>
        <script>
            $(window).load(function() {
                var counter=0
                jQuery.parseJSON('{{.Banis}}').forEach(bani => {
                    $(".banis").append(`
                        <a href="shabad?id=bani-`+(counter+1)+`" id="`+counter+`" class="navigationForDisplay "><div class="searchresult searchresult-`+counter+`"><p class="gurmukhifont"><span class="codefont">`+(counter+1)+`</span>`+bani+`</p></div></a>
                    `)              
                    counter++
                });
                hotkeys();
                hotkeysHistory();
            });
        </script>
    {{template "navibar"}}
    </body>
</html>
{{end}}
