{{define "connectPage"}}
<!DOCTYPE html>
<html>
    <head>
        {{template "header"}}
        <script>
            $(window).load(function() {
                hotkeys();
                $.ajax({
                    url : "findServers",
                    async: true,
                    dataType: 'json',
                    success : function (data) {
                        var html = "";

                        $.each(data, function(key, server) {
                            var link = server.AddrV4 + ':' + server.Port
                            var host = server.Info
                            html = html+`<a href="#" id="`+key+`" class="navigationForDisplay" onclick="connect('`+link+`','`+host+`')"><div class="searchresult searchresult-`+key+`"><p><span class="codefont"><i class="fa fa-desktop fa-fw" aria-hidden="true"></i></span>`+host+` (`+link+`)</p></div></a>`;
                        })

                        $('div.menu').html(html);
                        hotkeysHistory();
                        $('div.loader').hide();
                    }
                });
            });
        </script>
    </head>
<body class="menu {{.Theme}}">
    {{template "titlebar" .}}
    <div class="loader"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
    <div class="scrollBetweenBars menu"></div>
    {{template "navibar"}}
    </body>
</html>
{{end}}
