{{define "display3Page"}}
<!DOCTYPE html>
<html>
	<head>
		{{template "header"}}
		<script>
			function updateDisplay() {
				$.ajax({
					url : "getJSON",
					async: true,
					dataType: "json",
					success : function (data) {
						var shabadID = data.shabadID;
						if (shabadID != $('div.shabad').attr("id")) {
							var body = "<div class='shabad' id="+shabadID+">";
							$.each(data.shabad, function(key,value){
								body = body+"<div id="+value.PK+" class='line'><div><div class=\"gurmukhifont\">"+value.gurmukhi+"</div>";
								body = body+"<p class=\"translation\">"+value.translation+"</p>";
								body = body+"<p class=\"darpan\">"+value.darpan+"</p>";
								body = body+"<p class=\"transliteration\">"+value.transliteration+"</p>";
								body = body+"</div></div>"; //closes opening div
							})
							$('div.body').html(body+"</div>");
						} else {
							var PK = data.PK;
							
							var scrollToID = Number(PK);
							// if (scrollToID > Number(firstLineID) && data.shabadID !== "adv") {
								// scrollToID = scrollToID - 1;
							// }
							$('.active').removeClass('active');
							$("#"+PK).addClass('active');
							
							var scrollPos = $("#"+scrollToID).offset().top //+ $("#"+scrollToID+"> .gurmukhifont").height()/2 - $('#fader').height()/3;
							if (scrollPos < 0) {scrollPos = 0;}
							scroll(scrollPos);
						}
						
						// for non-development set to about 10
						setTimeout(updateDisplay, 500);
					}
				});
			}
			
			$(window).load(function() {
				updateDisplay();
                $("#titlebar").hover(function(e) {
                    $(this).children("div").stop().slideDown('fast');
                    event.preventDefault();
                });
                $("#titlebar").mouseleave(function(e) {
                    $(this).children("div").slideUp('slow');
                    event.preventDefault();
                });
			});
			
		</script>
		</head>
<html>
	<body class="presentation presentationSingle bottom">
        {{template "titlebarCloseable" .}}
		<div class="body"><div class="shabad" id="0"><div id="0" class="line"><div><div class="gurmukhifont"></div><p class="translation"></p></div></div></div></div>
	</body>
</html>
{{end}}
