{{define "displayPage"}}
<!DOCTYPE html>
<html>
	<head>
		{{template "header"}}
		<script>
			var firstTimeHidingTitleBar = true;
			function updateShabad() {
				$.ajax({
					url : server+"/getJSON",
					async: true,
					dataType: "json",
					success : function (data) {
						if (firstTimeHidingTitleBar) {
							$("#titlebar").hover(function(e) {
								$(this).children("div").stop().slideDown('fast');
								event.preventDefault();
							});
							$("#titlebar").mouseleave(function(e) {
								$(this).children("div").slideUp('slow');
								event.preventDefault();
							});
							$("#titlebar").children("div").slideUp('slow');
							firstTimeHidingTitleBar = false;
						}
						var body = "<div class='shabad' data-shabadid="+data.shabadID+">";
						$.each(data.shabad, function(key,value){
							body = body+"<div id="+value.PK+" class='line'><div><div class=\"gurmukhifont\">"+value.gurmukhi+"</div>";
							body = body+"<p class=\"translation\">"+value.translation+"</p>";
							body = body+"<p class=\"darpan\">"+value.darpan+"</p>";
							body = body+"<p class=\"transliteration\">"+value.transliteration+"</p>";
							body = body+"</div></div>"; //closes opening div
						})
						$('div.body').html(body+"</div>");
					}
				});
			}

			function updateDisplay() {
				$.ajax({
					url : server+"/getLineID",
					async: true,
					dataType: "json",
					success : function (data) {
						var shabadID = data.shabadID;
						if (shabadID != $('div.shabad').data("shabadid")) {
							updateShabad();
						} else {
							var PK = data.PK;
							if (!$("#"+PK).hasClass('active')) {
								$('.active').removeClass('active');
								$("#"+PK).addClass('active');
							}
							
							// var scrollToID = Number(PK);
							// if (scrollToID > Number(firstLineID) && data.shabadID !== "adv") {
								// scrollToID = scrollToID - 1;
							// }
							// try {
							// 	var scrollPos = $erver+("#"+scrollToID).offset().top //+ $("#"+scrollToID+"> .gurmukhifont").height()/2 - $('#fader').height()/3;
							// } catch (e) {
							// 	console.log(scrollToID+": "+$("#999999999999")+" /// "+e)
							// }
							// if (scrollPos < 0) {scrollPos = 0;}
							// scroll(scrollPos);
						}
						
						// for non-development set to 30ish milliseconds
						setTimeout(updateDisplay, 30);
					}
				});
			}
			
			$(window).load(function() {
    	    	dhm = $("#iframesHuMsg");
    	    	dhm.hide();

    			$("iframe").show();
				updateDisplay();

				$('iframe').on('DOMMouseScroll mousewheel', function(ev) {
					var $this = $(this),
						scrollTop = this.scrollTop,
						scrollHeight = this.scrollHeight,
						height = $this.height(),
						delta = (ev.type == 'DOMMouseScroll' ?
							ev.originalEvent.detail * -40 :
							ev.originalEvent.wheelDelta),
						up = delta > 0;

					var prevent = function() {
						ev.stopPropagation();
						ev.preventDefault();
						ev.returnValue = false;
						return false;
					}

					if (!up && -delta > scrollHeight - height - scrollTop) {
						// Scrolling down, but this will take us past the bottom.
						$this.scrollTop(scrollHeight);
						return prevent();
					} else if (up && delta > scrollTop) {
						// Scrolling up, but this will take us past the top.
						$this.scrollTop(0);
						return prevent();
					}
				});

				// $("#navibar").hover(function(e) {
					// $(this).children("div").stop().slideDown('fast');
					// event.preventDefault();
				// });
				// $("#navibar").mouseleave(function(e) {
					// $(this).children("div").slideUp('slow');
					// event.preventDefault();
				// });

				$("#hiddenIframePlusBox").click(function() {
					if (navWindow) {
						$('iframe').attr('src', navWindow.location.href);
						navWindow.close();
					}
					$('iframe').show();
				});

			});
			
			//forward all keys to the iframe
			$(document).keydown(function(e) {
				var iframe = $('iframe');
				iframe[0].contentWindow.focus();
				setTimeout(function() {iframe.trigger(e);}, 500);
			});

			var timer;
			var fadeInBuffer = false;

			$(document).mousemove(function () {
		        if (!fadeInBuffer) {
		            if (timer) {
		                clearTimeout(timer);
		                timer = 0;
		            }

		            $('html').css({
		                cursor: ''
		            });
		        } else {
		             $('div.hideCursor').css({
		                cursor: 'default'
		            });
		            fadeInBuffer = false;
		        }

		        timer = setTimeout(function () {
		             $('div.hideCursor').css({
		                cursor: 'none'
		            });
		         
		            fadeInBuffer = true;
		        }, 2000)
		    });
		    $('div.hideCursor').css({
                cursor: 'default'
            });

		</script>
		</head>
<html>
	<body class="presentation {{.Settings}}">
		{{template "dragBorders"}}
		{{template "titlebarCloseable" .}}
		<div id="help-screen">
			<h1>Keyboard Shortcuts</h1>
			<div class="dl">
    			<dl>
    				<dt>(?) Shift+/</dt>
    				<dd>Toggle This Menu</dd>
    				<dt>Ctrl+F / F11</dt>
    				<dd>Toggle Fullscreen</dd>
    				<dt>Ctrl+R</dt>
    				<dd>Refresh</dd>
    				<dt>Ctrl+N</dt>
    				<dd>New Controller</dd>
    			</dl>
    			<dl>
    				<dt>Ctrl+H</dt>
    				<dd>Toggle Controller</dd>
    				<dt>Ctrl+P / Ctrl+,</dt>
    				<dd>Menu</dd>
    				<dt>Ctrl+Left Arrow</dt>
    				<dd>History Back</dd>
    				<dt>Ctrl+Right Arrow</dt>
    				<dd>History Forward</dd>
    			</dl>
    			<dl>
    				<dt>Ctrl+/</dt>
    				<dd>Search</dd>
    				<dt>Ctrl+Y</dt>
    				<dd>History</dd>
    				<dt>Ctrl+B</dt>
    				<dd>Bookmarks</dd>
    				<dt>Esc</dt>
    				<dd>Clear Display</dd>
    			</dl>
    		</div>
		</div>
        <!--<div id="keyboardHelp">
          <div class="col1">
        	<div class="row1">
        	  <div class="gurmukhifont"><span>a</span><span>A</span><span>e</span><span>s</span><span>h</span></div>
        	  <div><span>a</span><span>A</span><span>e</span><span>s</span><span>h</span></div>
        	</div>
        	<div class="row2">
        	  <div class="gurmukhifont"><span>k</span><span>K</span><span>g</span><span>G</span><span>|</div>
        	  <div><span>k</span><span>K</span><span>g</span><span>G</span><span>|</div>
        	</div>
        	<div class="row3">
        	  <div class="gurmukhifont"><span>c</span><span>C</span><span>j</span><span>J</span><span>\</div>
        	  <div><span>c</span><span>C</span><span>j</span><span>J</span><span>\</div>
        	</div>
        	<div class="row4">
        	  <div class="gurmukhifont"><span>t</span><span>T</span><span>f</span><span>F</span><span>x</div>
        	  <div><span>t</span><span>T</span><span>f</span><span>F</span><span>x</div>
        	</div>
          </div>
          <div class="col2">
        	<div class="row5">
        	  <div class="gurmukhifont"><span>q</span><span>Q</span><span>d</span><span>D</span><span>n</div>
        	  <div><span>q</span><span>Q</span><span>d</span><span>D</span><span>n</div>
        	</div>
        	<div class="row6">
        	  <div class="gurmukhifont"><span>p</span><span>P</span><span>b</span><span>B</span><span>m</div>
        	  <div><span>p</span><span>P</span><span>b</span><span>B</span><span>m</div>
        	</div>
        	<div class="row7">
        	  <div class="gurmukhifont"><span>X</span><span>r</span><span>l</span><span>v</span><span>V</div>
        	  <div><span>X</span><span>r</span><span>l</span><span>v</span><span>V</div>
        	</div>
          </div>
          <div class="clear"></div>
        </div><!-- -->
		<div class="body"><div class="shabad" data-shabadid="0"><div id="0" class="line"><div><div class="gurmukhifont"></div><p class="translation"></p></div></div></div></div>
		<div class="hideCursor" style="width: 100%; height: 100%; background: none; z-index: 99; position: fixed; top: 0; left: 0;">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<iframe src="index" class="iframe"></iframe>
		<div id="iframesHuMsg"></div>
		<div id="hiddenIframePlusBox" style="z-index: 999;"><i class="fa fa-fw fa-plus" aria-hidden="true"></i></div>
	</body>
</html>
{{end}}
