{{define "header"}}
<meta charset="UTF-8">
<!--possibly drop "user-scalable"" so that people can make fonts larger on their phone-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<link rel="stylesheet" href="includes/font-awesome-4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="includes/mdl/material.min.css" />
<link rel="stylesheet" href="includes/mdl/material.cyan-amber.min.css" />
<link rel="stylesheet" href="styles/reset.css" />
<link rel="stylesheet" href="styles/main.css" />
<link rel="stylesheet" href="styles/user.css" />
<script>
	if (typeof require == 'function') { 
		window.nodeRequire = require;
		delete window.require;
		delete window.exports;
		delete window.module;
	}
</script>
<script src="includes/jquery-2.2.3.min.js"></script>
<script src="includes/mdl/material.min.js"></script>
<script src="includes/default.js"></script>
<script>
	var akhandPaathView = false;
	var dhm = "";
	var navWindow;

	var OSName="Unknown OS";
	if (navigator.appVersion.indexOf("Win")!=-1) OSName="Windows";
	else if (navigator.appVersion.indexOf("Mac")!=-1) OSName="MacOS";
	else if (navigator.appVersion.indexOf("X11")!=-1) OSName="UNIX";
	else if (navigator.appVersion.indexOf("Linux")!=-1) OSName="Linux";
	
	function scroll(offset) {
		$('html, body').stop();
		$('html, body').animate({scrollTop: offset}, 0);
	}
	function scrollToMid(e) {
		var e = $(e);
		//var p = $(".scrollBetweenBars");
		console.log(e, e.position().top, e.parent().offset().top, "extra:", (e.parent().innerHeight() / 2), (e.outerHeight() / 2));
		e.parent().stop().animate({scrollTop:e.position().top + e.outerHeight() / 2 + e.parent().scrollTop() - e.parent().innerHeight() / 2}, 125);
	}
	function postHistory(content, PK, shabad) {
		$.post(server+"/postHistory",{shabad: content,shabadID: shabad,PK: PK,toggleLines: toggleLines,mainID: mainID});
	}
	function clearDisplay() {
		toggleLines = "0-0-0"
		mainID = "0"
		postHistory("{\"shabad\":[{\"gurmukhi\":\"\",\"translation\":\"\",\"lineID\":\"0\"}],\"shabadID\":\"0\"}","0","0");
	}
	function activate(e) {
		history.replaceState(undefined, undefined, '#'+$(e).attr('id'));
		$('.activeLine').removeClass('activeLine');
		$(e).addClass('activeLine');
	}
	function goToID(ID) {
		toggleLines = mainID+"-"+secondID+"-"+toggleID;
		lineID = ID;
		var e = $(".line"+lineID);
		postHistory(shabad,$(e).attr("id"),$(e).data("shabadid"));
		$("#navi-prog").text($(e).data("pageid")+"/"+totalPages)
		if ($("#navi-prog").hasClass('active')) {
    		toggleJumpTo();
		}
		activate($(e));
		scrollToMid($(e));
	}
	function toggleLine(direction = 1) {
		if (isNaN(shabadID)) {
			if (shabadID == "adv") { //For Asa di Vaar, toggles between last pauri and next chhant
				var originalLineID = lineID;
				while ($(".line"+lineID).data("shabadtype") !== "pauri" && lineID >= firstID) {
					lineID--;
				}
				while ($(".line"+lineID).data("shabadtype") == "pauri") {
					lineID--;
				}
				lineID++;
				if(originalLineID==lineID) {
					while ($(".line"+lineID).data("shabadtype") == "pauri" && lineID < lastID) {
						lineID++;
					} 
				}
				if (lineID == lastID) { lineID = originalLineID; }
			} else { //For other Banis, jumps to next major section/shabad/etc, or back to beginning
				if (direction == 1) {
					do {
						lineID++;
						if (lineID >= lastID) { lineID = firstID; }
					} while ($(".line"+lineID+" > .searchresult").data("hotkey") != "yes");
                    dohm('angle-down', 'Page Dn');
				} else {
					do {
						lineID--;
						if (lineID < firstID) { lineID = lastID; }
					} while ($(".line"+lineID+" > .searchresult").data("hotkey") != "yes");
                    dohm('angle-up', 'Page Up');
				}
			}
		} else { //For Shabads, toggles between astha'i and antras
			if (mainID == 0) {
				mainID = lineID;
				$("#humsg").html("<i class='fa fa-thumb-tack' aria-hidden='true'></i> Main - <span class='gurmukhifont'>"+$(".line"+lineID+" > div > div > div.gurmukhifont").clone().children().remove(".codefont").end().text()+"</span>").show().delay(3000).fadeOut();
				$("#navi-thumb-tack").removeClass("fa-thumb-tack").addClass("fa-exchange");
                dohm('thumb-tack', 'Main');
			} else if (direction == -1 && secondID == 0) {
				secondID = lineID;
				$("#humsg").html("Second Main: <span class='gurmukhifont'>"+$(".line"+lineID+" > div > div > div.gurmukhifont").clone().children().remove(".codefont").end().text()+"</span>").show().delay(3000).fadeOut();
			} else if (mainID != lineID && secondID != lineID) {
				toggleID = lineID;
				do {
					lineID++;
				} while (lineID == mainID || lineID == secondID)
				if (lineID > lastID) {
					$("#humsg").html("<i class='fa fa-share' aria-hidden='true'></i> Next Returns to Last Line").show().delay(3000).fadeOut();
                    dohm('reply', 'Main');
				} else {
					$("#humsg").html("<i class='fa fa-share' aria-hidden='true'></i> Up Next: <span class='gurmukhifont'>"+$(".line"+lineID+" > div > div > div.gurmukhifont").clone().children().remove(".codefont").end().text()+"</span>").show().delay(3000).fadeOut();
                    dohm('reply', 'Main');
				}
				if (direction == 1) {
					lineID = mainID;
				} else {
					lineID = secondID;
				}
			} else if ((mainID == lineID || secondID == lineID)) {
				lineID = toggleID+1;
				while ((lineID == mainID || lineID == secondID) && lineID != lastID) { lineID++; }
				while (lineID == mainID || lineID == secondID || lineID > lastID) { lineID--; }
                dohm('share', 'Auto Next');
			}
		}
		goToID(lineID);
	}

	function urlIndex() {
		window.location.href = 'index';
	}

	function dohm(i, h) {
		if (parent == top && $('iframe', window.parent.document).is(":hidden")) {
    		window.parent.dhm.stop(true, false).removeClass("long").html('<div class="icon"><i class="fa fa-' + i + ' fa-fw" aria-hidden="true"></i></div><div class="hint">' + h + '</div>').fadeTo(0,1.00).show().animate({opacity:1},875).fadeOut(125);
		}
	}
	function dohml(h) {
		if (parent == top && $('iframe', window.parent.document).is(":hidden")) {
    		window.parent.dhm.stop(true, false).addClass("long").html(h).fadeTo(0,1.00).show().animate({opacity:1},4875).fadeOut(125);
		}
	}

	
	function hotkeys() {
		$(document).keydown(function(e) {
			if (OSName == "MacOS") {
				var mod = e.metaKey;
			} else {
				var mod = e.ctrlKey;
			}
			switch(e.which) {
				case 27: //Esc
					clearDisplay();
                    dohm('square-o', 'Clear');
					break;
				case 116: //F5
					clearDisplay();
					dohm('square-o', 'Clear');
					e.preventDefault;
					break;
				case 66: //b
					if (e.shiftKey) {
						clearDisplay();
						break;
					}
					if (mod) {
						window.location.href = 'banis';
                        dohm('bookmark', 'Bookmarks');
					}
					else return true;
					break;
				case 70: //f
					if (mod){
						toggleFullscreen();
					}
					else return true;
					break;
				case 72: //h
					if (mod) {
						$('iframe', window.parent.document).toggle();
						// parent.focus();
						e.preventDefault();
					}
					else return true;
					break;
				case 80: //p
					if (e.altKey) {
						e.preventDefault();
						break;
					}
					if (mod) {
						window.location.href = 'menu';
                        dohm('bars', 'Menu');
					}
					else return true;
					break;
				case 82: //r
					if (mod) {
						$('iframe', window.parent.location.reload(true));
					}
					else return true;
					break;
				case 89: //y
					if (mod) {
						window.location.href = 'history';
                        dohm('history', 'History');
					}
					else return true;
					break;
				case 188: //,
					if (mod) {
						window.location.href = 'menu';
                        dohm('bars', 'Menu');
					}
					else return true;
					break;
				case 191:
					if (e.shiftKey) {
						// ? key
						// toggle help menu visibility
                        if (window.parent.$('#help-screen').is(":hidden")) {
        					window.parent.$('#help-screen').stop().slideDown(125);
        					event.preventDefault();
    					} else {
        					window.parent.$('#help-screen').slideUp(125);
        					event.preventDefault();
        				}
						// window.parent.$('#help-screen').toggle();
					} else if (mod) {
						window.location.href = 'index';
                        dohm('search', 'Search');
					} else return true;
					break;
				case 37: // left arrow
					if (mod) {
						window.history.back();
                        dohm('arrow-left', 'Back');
					}
					else return true;
					break;
				case 39: // right arrow
					if (mod) {
						window.history.forward();
                        dohm('arrow-right', 'Forward');
					}
					else return true;
					break;
				// case 219: // curly brace "{"
					// if (e.shiftKey) {
						// // turn off colors for pauses
						// window.parent.$('.vishraamHeavy').toggleClass('noColorTog');
						// window.parent.$('.vishraamLight').toggleClass('noColorTog');
					// }
					// else return true;
					// break;
				// case 221: // curly brace "}"
					// if (e.shiftKey) {
						// // turn off commas for pauses
						// window.parent.$('.vishraamHeavy').toggleClass('noCommaTog');
						// window.parent.$('.vishraamLight').toggleClass('noCommaTog');
					// }
					// else return true;
					// break;
				default: return;
			}
			if (e.which != 65 || e.which != 67 || e.which != 86) e.preventDefault();
		});
	}
	function hotkeysIndex() {
		$(document).keydown(function(e) {
			switch(e.which) {
				case 9: 
					return true;
					break;
				case 38: // up
					if ($('#filter').is(":focus")) {
                        if ($('#results').is(':empty')) {
							$('#filter').focus();
						} else {
							var e = $('#results > a').last();
							e.focus();
							dohml('<div class="msg"><span class="gurmukhifont remCF">'+e.children("div").html()+'</span></div>');
						}					}
					else if ($('#results > a').first().is(":focus")) {
						$('#filter').focus();
					}
					else {
						var e = $(':focus').prev();
						e.focus();
						dohml('<div class="msg"><span class="gurmukhifont remCF">'+e.children("div").html()+'</span></div>');
					}
					scrollToMid($(':focus'))
					break;
				case 40: // down
					if ($('#filter').is(":focus")) {
						if ($('#results').is(':empty')) {
							$('#filter').focus();
						}
						else {
							var e = $('#results > a').first();
                            e.focus();
							dohml('<div class="msg"><span class="gurmukhifont remCF">'+e.children("div").html()+'</span></div>');
						}
					}
					else if ($('#results > a').last().is(":focus")) {
						$('#filter').focus();
					}
					else {
						var e = $(':focus').next();
						e.focus();
						dohml('<div class="msg"><span class="gurmukhifont remCF">'+e.children("div").html()+'</span></div>');
					}
					scrollToMid($(':focus'))
					break;
				case 13: //ENTER
					if ($('#filter').is(":focus") && $('#results').not(':empty')) {
						console.log('sd');
						$('#results > a#0')[0].click();
                        dohm('level-down fa-rotate-90', 'Enter');
            			e.preventDefault();
					}
					else {
                        dohm('level-down fa-rotate-90', 'Enter');
						return true;
					}
					break;
						
				// case 48: //0
				// 	$(".searchresult-0").parent().click();
				// 	break;
				// case 49: //1
				// 	$(".searchresult-1").parent().click();
				// 	break;
				// case 50: //2
				// 	$(".searchresult-2").parent().click();
				// 	break;
				// case 51: //3
				// 	$(".searchresult-3").parent().click();
				// 	break;
				// case 52: //4
				// 	$(".searchresult-4").parent().click();
				// 	break;
				// case 53: //5
				// 	$(".searchresult-5").parent().click();
				// 	break;
				// case 54: //6
				// 	$(".searchresult-6").parent().click();
				// 	break;
				// case 55: //7
				// 	$(".searchresult-7").parent().click();
				// 	break;
				// case 56: //8
				// 	$(".searchresult-8").parent().click();
				// 	break;
				// case 57: //9
				// 	$(".searchresult-9").parent().click();
				// 	break;
				default: return;
			}
			// e.preventDefault();
		});
	}
	function checkScroll() {
		if (lineID == firstID) {
			scrollTop = true;
		} else {
			scrollTop = false;
		}
		if (lineID == lastID) {
			scrollBottom = true;
		} else {
			scrollBottom = false;
		}
	}
	function hotkeysNavigate() {
		$(document).keydown(function(e) {
			// set modifier to ctrl (win/linux) or command (mac)
			if (OSName == "MacOS") {
				var mod = e.metaKey;
			} else {
				var mod = e.ctrlKey;
			}
			switch(e.which) {
				case 13: //ENTER
					goToID(lineID);
					dohm('level-down fa-rotate-90', 'Enter');
					break;
				case 32: //SPACEBAR
					if (mod) {
						if (e.shiftKey) {
							var g = $(".line"+lineID+" > div > div > div.gurmukhifont").clone().children().remove(".codefont").end().text()
							$("#humsg").html("2nd Main: <span class='gurmukhifont'>"+ g +"</span>").show().delay(3000).fadeOut();
							dohml('<div class="msg">2nd Main - <span class="gurmukhifont">' + g + '</span></div>');
							secondID = lineID;
						} else {
							var g = $(".line"+lineID+" > div > div > div.gurmukhifont").clone().children().remove(".codefont").end().text()
							$("#humsg").html("Toggle Reset. Main: <span class='gurmukhifont'>"+ g +"</span>").show().delay(3000).fadeOut();
							dohml('<div class="msg">Reset Main - <span class="gurmukhifont">' + g + '</span></div>');
							mainID = lineID;
							secondID = 0;
							toggleID = 0;
						}
						goToID(lineID);
					} else if (e.shiftKey) {
						toggleLine(-1);
					} else {
						toggleLine();
					}
					break;
				case 48: //0
					$(".searchresult-0").parent().click();
					break;
				case 49: //1
					$(".searchresult-1").parent().click();
					break;
				case 50: //2
					$(".searchresult-2").parent().click();
					break;
				case 51: //3
					$(".searchresult-3").parent().click();
					break;
				case 52: //4
					$(".searchresult-4").parent().click();
					break;
				case 53: //5
					$(".searchresult-5").parent().click();
					break;
				case 54: //6
					$(".searchresult-6").parent().click();
					break;
				case 55: //7
					$(".searchresult-7").parent().click();
					break;
				case 56: //8
					$(".searchresult-8").parent().click();
					break;
				case 57: //9
					$(".searchresult-9").parent().click();
					break;
				case 65: //a
					if (mod){
						return true;
					}
					else $(".searchresult-a").parent().click();
					break;
				case 66: //b
					if (e.shiftKey) {
						clearDisplay();
						break;
					}
					if (mod) {
						return true;
					}
					toggleLine();
					break;
				case 67: //c
					$(".searchresult-c").parent().click();
					break;
				case 68: //d
					$(".searchresult-d").parent().click();
					break;
				case 69: //e
					if (mod){
						return true;
					}
					else $(".searchresult-e").parent().click();
					break;
				case 70: //f
					if (mod){
						return true;
					}
					else $(".searchresult-f").parent().click();
					break;
				case 71: //g
					if (mod){
						return true;
					}
					else $(".searchresult-g").parent().click();
					break;
				case 72: //h
					if (mod) {
						return true;
					}
					else $(".searchresult-h").parent().click();
					break;
				case 73: //i
					$(".searchresult-i").parent().click();
					break;
				case 74: //j
					$(".searchresult-j").parent().click();
					break;
				case 75: //k
					$(".searchresult-k").parent().click();
					break;
				case 76: //l
					$(".searchresult-l").parent().click();
					break;
				case 77: //m
					$(".searchresult-m").parent().click();
					break;
				case 78: //n
					if (mod) {
						return true;
					} else $(".searchresult-n").parent().click();
					break;
				case 79: //o
					$(".searchresult-o").parent().click();
					break;
				case 80: //p
					if (e.altKey) {
						e.preventDefault;
						break;
					}
					if (mod) {
						return true;
					}
					else $(".searchresult-p").parent().click();
					break;
				case 81: //q
					if (mod && OSName != "Windows"){
						$('iframe', window.parent.trigger(e));
					} else $(".searchresult-q").parent().click();
					break;
				case 82: //r
					if (mod) {
						$('iframe', window.parent.location.reload(true));
					}
					else $(".searchresult-r").parent().click();
					break;
				case 83: //s
					if (e.shiftKey) {
						e.preventDefault;
						break;
					}
					$(".searchresult-s").parent().click();
					break;
				case 84: //t
					if (mod){
						return true;
					}
					else $(".searchresult-t").parent().click();
					break;
				case 85: //u
					$(".searchresult-u").parent().click();
					break;
				case 86: //v
					$(".searchresult-v").parent().click();
					break;
				case 87: //w
					$(".searchresult-w").parent().click();
					break;
				case 88: //x
					$(".searchresult-x").parent().click();
					break;
				case 89: //y
					if (mod) {
						return true;
					}
					else $(".searchresult-y").parent().click();
					break;
				case 90: //z
					$(".searchresult-z").parent().click();
					break;
				case 37: // left
					if (mod) break;
				case 38: // up
					if (mod || lineID == firstID && scrollTop && (akhandPaathView || e.shiftKey)) {
						var shabadID = Number($('.activeLine').data("shabadid"));
						if ((shabadID > 1 && shabadID <= 5543)) { // || (shabadID > 10000 && shabadID <= 13480) || (shabadID > 20000 && shabadID <= 25690) || (shabadID > 30000 && shabadID <= 30081) || (shabadID > 40000 && shabadID <= 40170)) {
							if (mod) { location.href = 'shabad?id=' + (shabadID - 1); }
							else { location.href = 'shabad?id=' + (shabadID -1) + '#-1';}
						}
						dohm('angle-up', 'Prev Shabad');
					} else {
						if(lineID != firstID) {
							lineID--;
							goToID(lineID);
						}
					}
					break;
				case 39: // right
					if (mod) break;
				case 40: // down
					if (mod || lineID == lastID && scrollBottom && (akhandPaathView || e.shiftKey)) {
						var shabadID = Number($('.activeLine').data("shabadid"));
						// properly change shabadID to what ever the last shabad ID is in the database
						if ((shabadID >= 1 && shabadID <= 5542)) { // || (shabadID >= 10000 && shabadID < 13480) || (shabadID >= 20000 && shabadID < 25690) || (shabadID >= 30000 && shabadID < 30081) || (shabadID >= 40000 && shabadID < 40170)) {
							location.href = 'shabad?id=' + (shabadID + 1);
						}
						dohm('angle-down', 'Next Shabad');
					} else {
						if(lineID != lastID) {
							lineID++;
							goToID(lineID);
						}
					}
					break;
				case 33: //page up
					if (mod || lineID == firstID && scrollTop && (akhandPaathView || e.shiftKey)) {
						var shabadID = Number($('.activeLine').data("shabadid"));
						if ((shabadID > 1 && shabadID <= 5543)) { // || (shabadID > 10000 && shabadID <= 13480) || (shabadID > 20000 && shabadID <= 25690) || (shabadID > 30000 && shabadID <= 30081) || (shabadID > 40000 && shabadID <= 40170)) {
							if (mod) { location.href = 'shabad?id=' + (shabadID - 1); }
							else { location.href = 'shabad?id=' + (shabadID -1) + '#-1';}
						}
						dohm('angle-up', 'Prev Shabad');
					} else {
						if(lineID != firstID) {
							lineID--;
							goToID(lineID);
						}
					}
					break;
				case 34: //page down
					if (mod || lineID == lastID && scrollBottom && (akhandPaathView || e.shiftKey)) {
						var shabadID = Number($('.activeLine').data("shabadid"));
						// properly change shabadID to what ever the last shabad ID is in the database
						if ((shabadID >= 1 && shabadID <= 5542)) { // || (shabadID >= 10000 && shabadID < 13480) || (shabadID >= 20000 && shabadID < 25690) || (shabadID >= 30000 && shabadID < 30081) || (shabadID >= 40000 && shabadID < 40170)) {
							location.href = 'shabad?id=' + (shabadID + 1);
						}
						dohm('angle-down', 'Next Shabad');
					} else {
						if(lineID != lastID) {
							lineID++;
							goToID(lineID);
						}
					}
					break;
				case 35: //page end
					goToID(lastID);
					dohm('angle-double-down', 'End');
					break;
				case 36: //page home
					goToID(firstID);
					dohm('angle-double-up', 'Start');
					break;
				default: return;
			}
			e.preventDefault();
		});
	}
	function hotkeysCopy() {
		$(document).keydown(function(e) {
			// set modifier to ctrl (win/linux) or command (mac)
			var mod = OSName == "MacOS" ? e.metaKey : e.ctrlKey
			if (mod && (e.which == 65 || e.which == 69 || e.which == 71 || e.which == 84)) {
				e.preventDefault()
				var element = ""
				switch(e.which) {
					case 65: //a
						element = "ang"
						break
					case 69: //e
						element = "english-translation"
						break
					case 71: //g
						element = "gurmukhi"
						break
					case 84: //t
						element = "transliteration"
						break
				}

				const sources = {
					"G": " - SGGS Ji - Ang ",
					"D": " - Dasam Granth",
					"B": " - Vaar ",
					"N": "",
					"A": ""
				}

				const writers = {
					1: "Guru Nanak Dev Ji",
					2: "Guru Angad Dev Ji",
					3: "Guru Amardas Ji",
					4: "Guru Ramdas Ji",
					5: "Guru Arjan Dev Ji",
					6: "Guru Teg Bahadur Ji",
					7: "Guru Gobind Singh Ji",
					8: "Bhagat Beni Ji",
					9: "Bhagat Bhikhan Ji",
					10: "Bhagat Dhanna Ji",
					11: "Sheikh Fareed Ji",
					12: "Bhagat Jaidev Ji",
					13: "Bhagat Kabir Ji",
					14: "Bhagat Namdev Ji",
					15: "Bhagat Parmanand Ji",
					16: "Bhagat Pipa Ji",
					17: "Bhagat Ramanand Ji",
					18: "Bhagat Ravidas Ji",
					19: "Bhagat Sadhana Ji",
					20: "Bhagat Sain Ji",
					21: "Bhagat Surdas Ji",
					22: "Bhagat Trilochan Ji",
					24: "Baba Sundar Ji",
					25: "Bhatt Bal",
					26: "Bhatt Bhal",
					27: "Bhatt Bhikha",
					28: "Bhatt Gayand",
					29: "Bhatt Harbans",
					30: "Bhatt Jalap",
					31: "Bhatt Kalsahar",
					32: "Bhatt Keerat",
					33: "Bhatt Mathura",
					34: "Bhatt Nal",
					35: "Bhatt Sal",
					36: "Bhatt Kallsahar",
					37: "Bhai Balvand Rai and Bhai Satta Doom",
					38: "Bhai Nand Lal Ji",
					39: "Bhai Gurdas Ji",
					40: "Disputed / Unknown (Raagmala)",
					50: "Disputed / Unknown (Raagmala)"
				}

				$.ajax({ url : server+"/getLineDetails", async: true, dataType: "json", success : function (data) {
					var copy = data[element]
					switch(element) {
						case "transliteration":
							copy = copy.toLowerCase()
							break
						case "gurmukhi":
							copy = copy.replace(/[.,;]/g,"")
							break
						case "ang":
							var source = data["source"]
							copy = writers[data["author"]] + sources[source] + (source == "G" || source == "B" ? copy : "")
							break
					}
					var $temp = $("<input>")
					$("body").append($temp)
					$temp.val(copy).select()
					document.execCommand("copy")
					$temp.remove()
				}, error : function (XMLHttpRequest, textStatus, errorThrown) {console.log(errorThrown)}});
			}
		})
	}
	function hotkeysHistory() {
		var lineID = Number($('.scrollBetweenBars a').first().attr("id"));
		$("#"+lineID).addClass('activeLine');
		if (lineID == 0) {
			var lastID = Number($('.scrollBetweenBars a').not('.specialEntry').last().attr("id"));
		} else {			
			var lastID = Number($('.scrollBetweenBars a').last().attr("id"));
		}
		if ($('.scrollBetweenBars a.specialEntry').length) {
			var firstID = Number($('.scrollBetweenBars a.specialEntry').first().attr("id"));
		} else {
			var firstID = lineID;
		}
		
		$(document).keydown(function(e) {
			switch(e.which) {
				case 13: //ENTER
					var id = $('.activeLine').attr("id");
					$("#"+id)[0].click();
                    dohm('level-down fa-rotate-90', 'Enter');
					break;
				case 48: //0
					$("#9")[0].click();
					break;
				case 49: //1
					$("#0")[0].click();
					break;
				case 50: //2
					$("#1")[0].click();
					break;
				case 51: //3
					$("#2")[0].click();
					break;
				case 52: //4
					$("#3")[0].click();
					break;
				case 53: //5
					$("#4")[0].click();
					break;
				case 54: //6
					$("#5")[0].click();
					break;
				case 55: //7
					$("#6")[0].click();
					break;
				case 56: //8
					$("#7")[0].click();
					break;
				case 57: //9
					$("#8")[0].click();
					break;
				case 38: // up
					lineID--;
					if (lineID < firstID ) { lineID = lastID; }
					$('.activeLine').removeClass('activeLine');
					$("#"+lineID).addClass('activeLine');
					scrollToMid($("#"+lineID));
					if ($(".activeLine > div > p").hasClass("gurmukhifont")) {
    					dohml('<div class="msg"><span class="gurmukhifont">'+$(".activeLine > div > p").html()+'</span></div>');
    				} else {
    					dohml('<div class="msg">'+$(".activeLine > div > p").html()+'</div>');
    				}
					break;
				case 40: // down
					lineID++;
					if (lineID > lastID) { lineID = firstID; }
					$('.activeLine').removeClass('activeLine');
					$("#"+lineID).addClass('activeLine');
					scrollToMid($("#"+lineID));
					if ($(".activeLine > div > p").hasClass("gurmukhifont")) {
    					dohml('<div class="msg"><span class="gurmukhifont">'+$(".activeLine > div > p").html()+'</span></div>');
    				} else {
    					dohml('<div class="msg">'+$(".activeLine > div > p").html()+'</div>');
    				}
					break;
				default: return;
			}
			e.preventDefault();
		});
	}
	function pageUpDown (direction) {
		do {
			if(direction == "up") {
				lineID--;
				if (lineID < firstID) { lineID = firstID; break; }
			} else {
				lineID++;
				if (lineID > lastID) { lineID = lastID; break; }
			}
		} while ($(".line"+lineID+" > .searchresult").data("hotkey") != "yes");
		goToID(lineID);
	}
	function toggleJumpTo() {
	// $("#navi-prog").hasClass('active')
		if (isNaN(shabadID)) {
    		$(".notHotkey").toggle();
    		$("#navi-prog").toggleClass("active");
    		$(".scrollBetweenBars.shabad").toggleClass("active");
    		if ($("#navi-prog").hasClass("active")) {
    			defaultTitle = "<span class='bright'>Jump To...</span>"
    			$(".title .usual").html(defaultTitle);
    		} else {
    			$(".title .usual").html(titleAtStart);
    			defaultTitle = titleAtStart;
    		}
		}
	}
	var titleAtStart = ""
	var defaultTitle = ""
	$( window ).load(function () {
		if (defaultTitle == "") {
            titleAtStart = $(".title .usual").html();
            defaultTitle = titleAtStart;
        }
    	//attach click events for titlebar and navibar
    	$("#title-shade").click(function() {
    		$('iframe', parent.window.document).hide();
		});
    	$("#title-menu").click(function() {
    		window.location.href = 'menu';
		});
    	$("#title-backward").click(function() {
    		window.history.back();
    	});
    	$("#title-forward").click(function() {
    		window.history.forward();
    	});
		$("#navi-search").click(function() {
			window.location.href = 'index';
		});
		$("#navi-history").click(function() {
			window.location.href = 'history';
		});
		$("#navi-up").click(function() {
			pageUpDown("up");
		});
		$("#navi-prog").click(function() {
			toggleJumpTo();
		});
		$("#navi-down").click(function() {
			pageUpDown("down");
		});
		$("#navi-bookmark").click(function() {
            window.location.href = 'banis';
		});
		$("#navi-thumb-tack").click(function() {
			toggleLine();
		});
		$("#navi-clear").click(function() {
			clearDisplay();
		});
		$(".hoverable").mouseover(function() {
			if (typeof $(this).data("hover-hotkey") == 'undefined') {
				$(".title .usual").html("<span class='bright'>" + $(this).data("hover") + "</span>");
			}
			else {
				$(".title .usual").html("<span class='bright'>" + $(this).data("hover") + "</span> <span class='hotkey'>(" + $(this).data("hover-hotkey") + ")</span>");
			}
		});
		$(".hoverable").mouseleave(function() {
			$(".title .usual").html(defaultTitle);
		});
	});
</script>
<title>{{.Title}}</title>
{{end}}
