{{define "koboPage"}}
<!DOCTYPE html>
<html>
	<head>
		{{template "header"}}
		<script>
			var offset = 0;
			var PK = 0;
            var shabadID = 0;
            var sc = 0;
			function updateDisplay() {
				$.ajax({
					url : server+"/getJSON",
					async: true,
					dataType: "json",
					success : function (data) {
						if (data.shabadID == 0 || data.PK == 0) {
							// trying to load information from this blank JSON breaks the kobo :(
							$('div#kobo').html("");
						} else if (shabadID != data.shabadID || PK != data.PK ) {
    						shabadID = data.shabadID;
    						PK = data.PK;
    						offset = data.shabad[0].PK;
							// var body = "<div class='shabad' id="+shabadID+">";
							var fullGurmukhi = "<div class=\"gurmukhifont\" id=\"0\">";
							var counter = 1;
							var s = "";
							var r = /\d+/;
							$.each(data.shabad, function(key,value){
								s = value.gurmukhi;
								g = "<span id=\"PK-"+value.PK+"\">"+value.gurmukhi+"</span>";
								if (s.match(r) || s.search("]rhwau") > -1) {
									fullGurmukhi += g + "</div><div class='gurmukhifont' id=\""+counter+"\">";
									counter++;
								} else {
    								fullGurmukhi += g +" ";
								}
								// fullGurmukhi += "<p class=\"translation\">"+value.translation+"</p>";
								// fullGurmukhi += "<p class=\"darpan\">"+value.darpan+"</p>";
								// fullGurmukhi += "<p class=\"transliteration\">"+value.transliteration+"</p>";
								// fullGurmukhi += "</div></div>"; //closes opening div
							})
							// $('div#kobo').html("<div id="+PK+" class='line'><div><div class=\"gurmukhifont\">"+data.shabad[PK-offset].gurmukhi+"</div>");
							$('div#kobo').html(fullGurmukhi+"</div><div class='ending'>End</div>");
							//check if line fits on page, if not, then jump to it
							var e = "#"+$("#PK-"+PK).parent().attr("id");
							if ($(e).next("div").offset().top + $(e).height() >= $(window).scrollTop() + $(window).height() || $(e).offset().top <= $(window).scrollTop()) {
                    			window.location.hash = e;
                    		}
						} 
						// for non-development set to about 10
						setTimeout(updateDisplay, 500);
					}
				});
			}
			
			$(window).load(function() {
				updateDisplay();
			});
			
		</script>
		</head>
<html>
	<body class="kobo"><div id="kobo"></div></body>
</html>
{{end}}
