{{define "liveCaptionPage"}}
<!DOCTYPE html>
<html>
	<head>
		{{template "header"}}
		<script>
			var styleSheet
			function updateCSS (selector, property, value) {
				for (var x = 0; x < styleSheet.length; x++) {
						if (styleSheet[x].selectorText == selector) {
							styleSheet[x].style[property] = value
						}
					}
			}
			var elementToClass = {
				"gurbani"					:	".gurmukhifont",
				"english-translation"		:	".translation",
				"punjabi-translation"		:	".darpan",
				"english-transliteration"	:	".transliteration"
			}

			$(window).load(function () {
				styleSheet = $($("iframe").contents()[0].styleSheets).last()[0].rules
				$("iframe")[0].contentWindow.defaultHTML = '<div class="shabad" data-shabadid="0"><div id="0" class="line active"><div><div class="gurmukhifont"><div><div class="bgw">gurbwxI</div></div></div><div class="translation"><span class="bgw">Translation</span></div><div class="darpan"><span class="bgw">ਪਨਜਾਬੀ ਅਰਥ</span></div><div class="transliteration"><span class="bgw">gurbaanee</span></div></div></div></div>'
				var selector = "body.presentation .active "

				$("input").change( function() {
					if (this.type == "color") {
						updateCSS(selector + elementToClass[$(this).parents(".options").data("for")],"color",this.value)
						$(this).parents(".popup").siblings(".label").css("background",this.value)
					} else if (this.type == "radio") {
						updateCSS ( "body.presentation .line > div", "justify-content", $(this).data("justify-content"))
					} else if (this.type == "range") {
						updateCSS ( $(this).data("css-selector"), $(this).data("css-property"), $(this).val()+$(this).data("css-value"))
						$("#range-label-"+this.id).html(" ("+ $(this).val() + $(this).data("css-value") + ")")
					} else {
						var settingName = this.id
						var item, property, value
						var setting = this.type == "checkbox" ? $(this).prop('checked') : this.value
						if (settingName == "green-screen") {
							updateCSS ( "body.presentation", "background", (setting ? "#00ff00" : "none"))
						} else {
							updateCSS ( selector + elementToClass[settingName], "display", setting ? "block" : "none")
						}
					}
				});

				$(".popup.color > div > div").click(function(){
					updateCSS(selector + elementToClass[$(this).parents(".options").data("for")],"color",$(this).data("color"))
					$(this).parents(".popup").siblings(".label").css("background",$(this).data("color"))
				})

				$(".popup.shadow > div > div").click(function(){
					updateCSS(selector + elementToClass[$(this).parents(".options").data("for")],"text-shadow", $(this).data("color") == "none" ? "none" : "0.05em 0.05em " + ($("#green-screen").prop('checked') ? " " : "0.2em ") + $(this).data("color"))
					$(this).parents(".popup").siblings(".label").css("background",$(this).data("color"))
				})

				$(".popup.background > div > div").click(function(){
					$(this).parents(".popup").find(".active").removeClass("active")
					$(this).addClass("active")
					var color = $(this).data("color") == "none" ? "none" : $(this).data("color")
					color += $(this).parents(".popup").find(".semitransparent .mdl-checkbox__input").prop('checked') ? "80" : "FF"
					var localSelector = selector + elementToClass[$(this).parents(".options").data("for")]
					if ($(this).parents(".popup").find(".full-width .mdl-checkbox__input").prop('checked')) {
						updateCSS(localSelector + " .bgw","background","none")
					} else {
						updateCSS(localSelector,"background","none")
						localSelector += " .bgw"
					}
					updateCSS(localSelector,"background", color)
					$(this).parents(".popup").siblings(".label").css("background",color)
				})

				$(".mdl-checkbox__input").click(function(){
					$(this).parents(".popup").find(".active").click()
				})

				$(".smaller, .larger", ".font-size-changer").click(function(){
					var fontSize = $(this).siblings(".value").data("value") + (this.className == "smaller" ? -0.25 : 0.25)
					fontSize > 15 ? fontSize = 15 : fontSize < 5 ? fontSize = 5 : ""
					$(this).siblings(".value").data("value", fontSize).text(fontSize+"vh")
					updateCSS(selector + elementToClass[$(this).parents(".options").data("for")],"font-size", fontSize+"vh")
				})

				$(document).bind('click', function(e) {
					if (!$(e.target).parents(".chooser").length) $(".popup").hide()
				})

				$(".label").click(function(){
					var popup = $(this).siblings()
					popup.toggle()
					$(".popup").not(popup).hide()
				})

				$("#copy-css").click(function() {
					var cssString = ""
					$(styleSheet).each(function (index) {
						cssString += this.cssText + "\n"
					})
					if (document.queryCommandSupported('copy')) {
						//copy to clipboard
						$("#textarea").val(cssString)
						$(".copopup").show()
						$("#textarea").select()
						try {
					    var successful = document.execCommand('copy');
					    var msg = successful ? 'CSS copied to clipboard!' : 'Please copy the below CSS';
					    $(".copopup > p").text(msg);
					  } catch (err) {
					    $(".copopup > p").text('Please copy the below CSS');
					  }
					} else {
						//failsafe
						alert(cssString)
					}
				})

				$("#copopup-close").click(function() {
					$(".copopup").hide()
					$("#textarea").val("")
				})

				$("#copy-link").click(function() {
					alert('http://{{.LocalIP}}:42424/obs')
				})

				$("#save-default").click(function() {
				})

			})

			function iFrameResize() {
				var w = $('div.preview').width();
				var h = $('div.preview').height();
				// 16/9 = 1.777 recurring
				if (w/h >= 1.7777777) {
					//element is too wide to fit preview, size preview to max-height and trim width
					w = h * 16 / 9;
				} else {
					//opposite logic
					h = w / 16 * 9;
				}
                $('div.preview > iframe').height(h);
                $('div.preview > iframe').width(w);
			}
			$(document).ready(iFrameResize);
			$(window).resize(iFrameResize);

            $(function () {
                $("#english-translation").prop('checked', true)
				$("#gurbani").prop('checked', true)
        	});
		</script>
    </head>
<html>
	<body class="liveCaption {{.Theme}}">
		{{template "dragBorders"}}
		{{template "titlebarCloseable" .}}
		<div class="titlebaroffsetissue"></div>
		<div class="preview">
      		<iframe src="obs" width="1280" height="720" class="iframe"></iframe>
		</div>
		<div class="settings">
			<div class="c1">
				<p>Macro</p>
				<div>
					<p style="margin-top: .75em;">Layout</p>
					<div class="layout-radios">
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="layout-top">
						  <input class="mdl-radio__button" id="layout-top" name="flash" type="radio" value="auto" data-justify-content="flex-start">
						  <span class="mdl-radio__label">Top</span>
						</label>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="layout-bottom">
						  <input class="mdl-radio__button" id="layout-bottom" name="flash" type="radio" value="auto" data-justify-content="flex-end">
						  <span class="mdl-radio__label">Bottom</span>
						</label>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="layout-center">
						  <input class="mdl-radio__button" id="layout-center" name="flash" type="radio" value="auto" data-justify-content="center">
						  <span class="mdl-radio__label">Center</span>
						</label>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="layout-spaced-1">
						  <input class="mdl-radio__button" id="layout-spaced-1" name="flash" type="radio" value="auto" data-justify-content="space-between">
						  <span class="mdl-radio__label">Spaced 1</span>
						</label>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="layout-spaced-2">
						  <input class="mdl-radio__button" id="layout-spaced-2" name="flash" type="radio" value="auto" data-justify-content="space-around">
						  <span class="mdl-radio__label">Spaced 2</span>
						</label>
					</div>
        	<p style="margin-top: .75em;">Margin<span id="range-label-margin"></span></p>
        	<p style="width:100%; ">
            	<input id="margin" class="mdl-slider mdl-js-slider" type="range" min="0" max="20" value="10" step="1" data-css-selector="body.presentation .line > div" data-css-property="padding" data-css-value="vh">
        	</p>
        	<p style="margin-top: .75em;">Width<span id="range-label-width"></p>
        	<p style="width:100%; ">
            	<input id="width" class="mdl-slider mdl-js-slider" type="range" min="50" max="100" value="100" step="1" data-css-selector="body.presentation .line > div" data-css-property="width" data-css-value="%">
        	</p>
        	<p style="font-size: 0.85em; margin-top: .75em;">The following setting is for broadcasting programs that lack support for transparent backgrounds. Modern broadcasting programs, including OBS, support transparency. Please see the tutorial for more information.</p>
    			<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="green-screen">
            	<input type="checkbox" id="green-screen" class="mdl-switch__input">
            	<span class="mdl-switch__label">Green Screen</span>
        	</label>
				</div>
			</div>
			<div class="c2">
				<p>Appearance</p>
				<div>
					<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="gurbani">
						<input type="checkbox" id="gurbani" class="mdl-switch__input">
						<div id="font-color" class="chooser"></div>
						<span class="mdl-switch__label">Gurbani</span>
					</label>
					<div class="options" data-for="gurbani">
						{{template "obsOptions"}}
					</div>
					<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="english-translation">
						<input type="checkbox" id="english-translation" class="mdl-switch__input">
						<span class="mdl-switch__label">English Translation</span>
					</label>
					<div class="options" data-for="english-translation">
						{{template "obsOptions"}}
					</div>
					<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="punjabi-translation">
						<input type="checkbox" id="punjabi-translation" class="mdl-switch__input">
						<span class="mdl-switch__label">Punjabi Translation</span>
					</label>
					<div class="options" data-for="punjabi-translation">
						{{template "obsOptions"}}
					</div>
					<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="english-transliteration">
						<input type="checkbox" id="english-transliteration" class="mdl-switch__input">
						<span class="mdl-switch__label">English Transliteration</span>
					</label>
					<div class="options" data-for="english-transliteration">
						{{template "obsOptions"}}
					</div>
				</div>
			</div>
			<div class="c3">
				<p>Controls</p>
				<div>
          <button id="copy-link" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Copy Link
          </button>
          <button id="copy-css" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Copy CSS
          </button>
          <button id="save-default" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Save Default
          </button>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Help
          </button>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Reset
          </button>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Exit
          </button>
				</div>
			</div>
			<div class="copopup">
				<div class="close"><i id="copopup-close" class="fa fa-times fa-fw hoverable" aria-hidden="true" data-hover="Close"></i></div>
				<p>Copied!</p>
				<textarea id="textarea"></textarea>
			</div>
		</div>
	</body>
</html>
{{end}}
