{{define "liveCaptionPage"}}
<!DOCTYPE html>
<html>
	<head>
		{{template "header"}}
		<script>
			function iFrameResize() {
				var w = $('div.preview').width();
				var h = $('div.preview').height();
				// 16/9 = 1.777 recurring
				if (w/h >= 1.7777777) {
					//element is too wide to fit preview, size preview to max-height and trim width
					w = h * 16 / 9;
				} else {
					//opposite logic
					h = w / 16 * 9;
				}
                $('div.preview > iframe').height(h);
                $('div.preview > iframe').width(w);
			}
			$(document).ready(iFrameResize);
			$(window).resize(iFrameResize);
		</script>
    </head>
<html>
	<body class="liveCaption {{.Theme}}">
		{{template "dragBorders"}}
		{{template "titlebarCloseable" .}}
		<div class="titlebaroffsetissue"></div>
		<div class="preview">
      		<iframe src="obs" width="1280" height="720" class="iframe"></iframe>
		</div>
		<div class="settings">
			<div class="c1">
				<p>Macro</p>
				<div>
        			<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="content-bottom">
                    	<input type="checkbox" id="content-bottom" class="mdl-switch__input">
                    	<span class="mdl-switch__label">Top Captions</span>
                	</label>
                	<p style="margin-top: .75em;">Margins</p>
                	<p style="width:100%; ">
                    	<input id="slider-margins" class="mdl-slider mdl-js-slider" type="range" min="0" max="10" value="10" step="1">
                	</p>
                	<p style="margin-top: .75em;">Width</p>
                	<p style="width:100%; ">
                    	<input id="slider-width" class="mdl-slider mdl-js-slider" type="range" min="50" max="100" value="100" step="1">
                	</p>
                	<p style="font-size: 0.85em; margin-top: .75em;">The following setting is for broadcasting programs that lack support for transparent backgrounds. Modern broadcasting programs, including OBS, support transparency. Please see the tutorial for more information.</p>
        			<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="content-bottom">
                    	<input type="checkbox" id="content-bottom" class="mdl-switch__input">
                    	<span class="mdl-switch__label">Green Screen</span>
                	</label>
				</div>
			</div>
			<div class="c2">
				<p>Appearance</p>
				<div>
                	<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-gurbani">
                    	<input type="checkbox" id="switch-gurbani" class="mdl-switch__input">
                    	<div id="font-color" class="chooser"></div>
                    	<div class="chooser-popup">

                    	</div>
                    	<span class="mdl-switch__label">Gurbani</span>
                	</label>
                	<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-english-translation">
                    	<input type="checkbox" id="switch-english-translation" class="mdl-switch__input">
                    	<span class="mdl-switch__label">English Translation</span>
                	</label>
                	<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-punjabi-translation">
                    	<input type="checkbox" id="switch-punjabi-translation" class="mdl-switch__input">
                    	<span class="mdl-switch__label">Punjabi Translation</span>
                	</label>
                	<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-english-transliteration">
                    	<input type="checkbox" id="switch-english-transliteration" class="mdl-switch__input">
                    	<span class="mdl-switch__label">English Transliteration</span>
                	</label>
				</div>
			</div>
			<div class="c3">
				<p>Controls</p>
				<div>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                      Copy Link
                    </button>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                      Copy CSS
                    </button>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                      Help
                    </button>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                      Reset
                    </button>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                      Exit
                    </button>
				</div>
			</div>
		</div>
	</body>
</html>
{{end}}
