{{define "menuPage"}}
<!DOCTYPE html>
<html>
    <head>
        {{template "header"}}
    </head>
<body class="menu {{.Theme}}">
    {{template "titlebar" .}}
    	<div class="scrollBetweenBars menu">
            <a href="settings" id="0" class="activeLine navigationForDisplay"><div class="searchresult searchresult-0"><p><span class="codefont"><i class="fa fa-cog fa-fw" aria-hidden="true"></i></span>Settings</p></div></a>
            <a href="#" id="1" class="navigationForDisplay" onclick="openOBS('top')"><div class="searchresult searchresult-1"><p><span class="codefont"><i class="fa fa-window-restore fa-fw" aria-hidden="true"></i></span>New OBS (Top) Window</p></div></a>
            <a href="#" id="2" class="navigationForDisplay" onclick="openOBS('bottom')"><div class="searchresult searchresult-2"><p><span class="codefont"><i class="fa fa-window-restore fa-fw" aria-hidden="true"></i></span>New OBS (Bottom) Window</p></div></a>
        </div>
        <script>
            $(window).load(function() {
                hotkeys();
                hotkeysHistory();
            });
        </script>
    {{template "navibar"}}
    </body>
</html>
{{end}}
