{{define "navigatePage"}}
<!DOCTYPE html>
<html>
    <head>
        {{template "header"}}
    </head>
<body class="navigate {{.Theme}}">
    {{template "titlebar" .}}
        <div id="humsg"></div>
        <div class="scrollBetweenBars shabad">
    		{{.Body}}
		</div>

        <script>
            var shabad = '{{.ShabadJSON}}';
            var shabadID = '{{.ID}}';
            var firstID = Number($('.navigationForDisplay').first().data("lineid"));
            var lastID =  Number($('.navigationForDisplay').last().data("lineid"));
            var lineID = ''
            var toggleLines = '{{.ToggleLines}}'.split("-");
            var mainID = Number(toggleLines[0]);
            var secondID = Number(toggleLines[1]);
            var toggleID = Number(toggleLines[2]);
            var totalPages = {{.TotalPages}}
            var scrollTop = false
            var scrollBottom = false
            
            try {
                hash = Number(location.hash.match(/[-0-9]+/)[0]);
                if (hash < 0) { lineID = lastID; } //akhand paath up from a shabad goes to last line (-1)
                else if ($("#"+hash).length) { lineID = $("#"+hash).data("lineid"); } //if #hash exists, go there
                else { lineID = 0; } //useless?
            } catch (err) {    //if hash doesn't exist
                try { lineID = $("#"+'{{.CurrentPK}}').data("lineid"); } //works for adv and for current line from history page 
                catch (err) { lineID = firstID; } //default goes to first line
            }

            if ({{.AkhandPaathView}}) { checkScroll(); }

            //Add: if another user found the shabad first (shabad is already loaded) just getJSON and update this page's line, and don't post line

            $(window).load(function() {
                $(document).keyup(function(e) {
                    if ({{.AkhandPaathView}}) { checkScroll(); }
                });
                hotkeys();
                hotkeysNavigate();
                $(".navigationForDisplay").click(function () {
                    goToID($(this).data('lineid'));
                });
                if (shabadID == "adv") {
                    $("#toggleLine").text("Pauri / Chhant");
                } else if (shabadID.isNumberic) {
                    if (mainID == 0) { $("#toggleLine").text("Set Main"); }
                    else { $("#toggleLine").text("Toggle Line"); }
                }
                else {
                    $("#toggleLine").text("Next Section");
                }
                $("#toggleLine").click(function () {
                    toggleLine();
                });
                // the hash tag in the address bar sets where the page is scrolling to, we wait 1 ms and run again. note: function is required for whatever reason. This was from a stack overflow answer and there are other ways around it. For instance we could have set a different hash tag in the address bar like XXX-noscroll and then removed the -noscroll and used the XXX to find the correct id.
                setTimeout(function() {
                    goToID(lineID);
                }, 1);
            });

        </script>
    {{template "navibar"}}
    </body>
</html>
{{end}}
