{{define "navibar"}}
{{$mod:="Ctrl+"}}
<div id="navibar">
	<div>
		<div class="buttons">
			<i id="navi-search" class="fa fa-search fa-fw hoverable" aria-hidden="true" data-hover="Search" data-hover-hotkey="{{$mod}}/"></i>
			<i id="navi-history" class="fa fa-history fa-fw hoverable" aria-hidden="true" data-hover="History" data-hover-hotkey="{{$mod}}Y"></i>
			<i id="navi-bookmark" class="fa fa-bookmark fa-fw hoverable" aria-hidden="true" data-hover="Bookmarks" data-hover-hotkey="{{$mod}}B"></i>
		</div>
		<div class="buttons middle">
			<i id="navi-up" class="fa fa-angle-up fa-fw hoverable" aria-hidden="true" data-hover="Previous Line"></i>
			<div id="navi-prog" class="progress hoverable" data-hover="Jump To..."></div>
			<i id="navi-down" class="fa fa-angle-down fa-fw hoverable" aria-hidden="true" data-hover="Next Line"></i>
		</div>
		<div class="buttons right">
			<i id="navi-thumb-tack" class="fa fa-thumb-tack fa-fw hoverable" aria-hidden="true" data-hover="Autoselect" data-hover-hotkey="Space"></i>
			<i id="navi-clear" class="fa fa-square-o fa-fw hoverable" aria-hidden="true" data-hover="Clear Display" data-hover-hotkey="Esc"></i>
		</div>
	</div>
</div>
{{end}}
