{{define "settingsPage"}}
<!DOCTYPE html>
<html>
    <head>
        {{template "header"}}
		<script>
        	var settingsJSON = jQuery.parseJSON('{{.SettingsJSON}}');

            $( window ).load(function () {
            	hotkeys();

                $("li, input").click(function() {
                    var settingName, setting, className
                    var type = this.tagName
                    if (type == "INPUT") {
                        type = this.type
                        settingName = this.id
                    }

                    switch (type) {
                        case "checkbox":
                            setting = $(this).prop('checked')
                            className = settingName
                            if (settingName != "split-gurbani-lines") className = "hide-"+settingName
                            if (settingName == "larivaar-gurbani") className = "hide-gurbani-spaces"
                            if (settingName == "larivaar-gurbani-assist") className = "larivaar-gurbani-assist"
                            window.parent.$('body.presentation').toggleClass(className)
                            break
                        case "range":
                            settingName = 'font-size'
                            setting = this.value
                            className = 'fs'
                            break
                        case "LI":
                            settingName = $(this).parent().attr("for")
                            setting = $(this).text()
                            className = settingName
                	        $('#'+settingName+'-span').text(setting);
                    }

                    if (type != "checkbox") {
                        var oldClass = className+"-"+settingsJSON[settingName]
                        if (type != "range") oldClass = oldClass.replace(/\s/g, "-").toLowerCase()
                        className += '-'+setting.replace(/\s/g, "-").toLowerCase()
                        window.parent.$('body.presentation').removeClass(oldClass).addClass(className);
                        if (settingName == "color-scheme") $('body').removeClass(oldClass).addClass(className);
                    }

                    settingsJSON[settingName] = setting;
                    if (typeof remote === "object" && server == "") { //prohibits browsers from saving settings
                        $.post('/postSettings', JSON.stringify(settingsJSON), null, 'json');
                    }
                });

			});

            $(function () { //right now it only gets settings from settings.json, but the display may already have other settings if it's a browser (can't save settings)
    			$('#font-size').val(settingsJSON["font-size"]);
                $("button").each(function(){ $("#"+this.id+"-span").text(settingsJSON[this.id]) })
                $("input:checkbox").prop('checked', function(){ return settingsJSON[this.id] })
        	});
		</script>
    </head>
<body class="BodySettings {{.Theme}}">
    {{template "titlebar" .}}
	<div class="scrollBetweenBars settings">
    	<h1>Layout</h1>
<!--		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="sticky-rahao">
            <input type="checkbox" id="sticky-rahao" class="mdl-switch__input">
            <span class="mdl-switch__label">Sticky Rahao</span>
        </label>-->
<!--		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="gurbani">
            <input type="checkbox" id="gurbani" class="mdl-switch__input">
            <span class="mdl-switch__label">Gurbani</span>
        </label>-->
		<button id="layout"
		        class="mdl-button mdl-js-button mdl-button--icon">
		  <i class="material-icons">format_line_spacing</i>
		</button>
		<ul id="layout-menu"
			class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
		    for="layout">
		  <li class="mdl-menu__item">Normal</li>
		  <li class="mdl-menu__item">Space Around</li>
		  <li class="mdl-menu__item">Space Between</li>
		</ul>
        <span class="mdl-switch__label" id="layout-span"></span>
		<div class="clear"></div>

		<button id="navigator-height"
		        class="mdl-button mdl-js-button mdl-button--icon">
		  <i class="material-icons">branding_watermark</i>
		</button>
		<ul id="navigator-height-menu"
			class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
		    for="navigator-height">
		  <li class="mdl-menu__item">Short</li>
		  <li class="mdl-menu__item">Medium</li>
		  <li class="mdl-menu__item">Tall</li>
		</ul>
        <span class="mdl-switch__label" id="navigator-height-span"></span>
		<div class="clear"></div>

		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="larivaar-gurbani">
            <input type="checkbox" id="larivaar-gurbani" class="mdl-switch__input">
            <span class="mdl-switch__label">Larivaar Gurbani</span>
        </label>
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="larivaar-gurbani-assist">
            <input type="checkbox" id="larivaar-gurbani-assist" class="mdl-switch__input">
            <span class="mdl-switch__label">Larivaar Gurbani Assist</span>
        </label>
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="split-gurbani-lines">
            <input type="checkbox" id="split-gurbani-lines" class="mdl-switch__input">
            <span class="mdl-switch__label">Split Gurbani Lines</span>
        </label>
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="english-translation">
            <input type="checkbox" id="english-translation" class="mdl-switch__input">
            <span class="mdl-switch__label">English Translation</span>
        </label>
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="punjabi-translation">
            <input type="checkbox" id="punjabi-translation" class="mdl-switch__input">
            <span class="mdl-switch__label">Punjabi Translation</span>
        </label>
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="english-transliteration">
            <input type="checkbox" id="english-transliteration" class="mdl-switch__input">
            <span class="mdl-switch__label">English Transliteration</span>
        </label>
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="next-line">
            <input type="checkbox" id="next-line" class="mdl-switch__input">
            <span class="mdl-switch__label">Next Line</span>
        </label>
        <p style="margin-top: .75em;">Font Size</p>
        <p style="width:100%; ">
            <input id="font-size" class="mdl-slider mdl-js-slider" type="range" id="s1" min="1" max="12" value="6" step="1">
        </p>

        <div class="sep"></div>

        <h1>Theme</h1>
		<button id="color-scheme"
		        class="mdl-button mdl-js-button mdl-button--icon">
		  <i class="material-icons">format_paint</i>
		</button>
		<ul id="color-scheme-menu"
			class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
		    for="color-scheme">
		  <li class="mdl-menu__item">Day</li>
		  <li class="mdl-menu__item">Night</li>
		  <li class="mdl-menu__item">Night Light</li>
		  <li class="mdl-menu__item">White on Blue</li>
		  <li class="mdl-menu__item">Yellow on Blue</li>
		  <li class="mdl-menu__item">Pastel on Dark</li>
		  <li class="mdl-menu__item">Philosophiae</li>
		</ul>
        <span class="mdl-switch__label" id="color-scheme-span"></span>

		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="background-image">
            <input type="checkbox" id="background-image" class="mdl-switch__input">
            <span class="mdl-switch__label">Background Image</span>
        </label>
		<!--<h1>Theme Custom</h1>
		<button id="gurbani-color"
             class="mdl-button color-picker mdl-js-button mdl-button--icon">
            <div class="material-icons cb white"></div>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="gurbani-color">
        </ul>
        <span class="mdl-switch__label">Gurbani</span>
        <br/>
		<button id="english-translation-color"
             class="mdl-button color-picker mdl-js-button mdl-button--icon">
            <div class="material-icons cb white"></div>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="english-translation-color">
        </ul>
        <span class="mdl-switch__label">English Translation</span>
        <br/>
		<button id="punjabi-translation-color"
             class="mdl-button color-picker mdl-js-button mdl-button--icon">
            <div class="material-icons cb white"></div>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="punjabi-translation-color">
        </ul>
        <span class="mdl-switch__label">Punjabi Translation</span>
        <br/>
		<button id="english-transliteration-color"
             class="mdl-button color-picker mdl-js-button mdl-button--icon">
            <div class="material-icons cb white"></div>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="english-transliteration-color">
        </ul>
        <span class="mdl-switch__label">English Transliteration</span>
        <br/>
		<button id="background-color"
             class="mdl-button color-picker mdl-js-button mdl-button--icon">
            <div class="material-icons cb black"></div>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="background-color">
        </ul>
        <span class="mdl-switch__label">Background</span> -->

        <div class="sep"></div>

        <h1>Vishraam/Pauses</h1>
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="vishraam-colors">
            <input type="checkbox" id="vishraam-colors" class="mdl-switch__input">
            <span class="mdl-switch__label">Vishraam Colors</span>
        </label>
<!--		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="vishraam-colors-strong">
            <input type="checkbox" id="vishraam-colors-strong" class="mdl-switch__input">
            <span class="mdl-switch__label">Vishraam Colors Strong</span>
        </label>-->
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="vishraam-characters">
            <input type="checkbox" id="vishraam-characters" class="mdl-switch__input">
            <span class="mdl-switch__label">Vishraam Characters</span>
        </label>

		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="vishraam-light">
            <input type="checkbox" id="vishraam-light" class="mdl-switch__input">
            <span class="mdl-switch__label">Vishraam Light</span>
        </label>
<!--		<button id="vishraam-light-color"
             class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">format_color_text</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="vishraam-light-color"
            data-color="asd">
        </ul>
        <span class="mdl-switch__label">Vishraam Light Color</span>
        <br/>
		<div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="vishraam-light-character" value=".">
            <label class="mdl-textfield__label" for="vishraam-light-character"></label>
        </div>
        <span class="mdl-switch__label">Vishraam Light Character</span>-->

		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="vishraam-medium">
            <input type="checkbox" id="vishraam-medium" class="mdl-switch__input">
            <span class="mdl-switch__label">Vishraam Medium</span>
        </label>
<!--		<button id="vishraam-medium-color"
             class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">format_color_text</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="vishraam-medium-color">
        </ul>
        <span class="mdl-switch__label">Vishraam Medium Color</span>
        <br/>
		<div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="vishraam-medium-character" value=",">
            <label class="mdl-textfield__label" for="vishraam-medium-character"></label>
        </div>
        <span class="mdl-switch__label">Vishraam Medium Character</span>-->

		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="vishraam-heavy">
            <input type="checkbox" id="vishraam-heavy" class="mdl-switch__input">
            <span class="mdl-switch__label">Vishraam Heavy</span>
        </label>
<!--		<button id="vishraam-heavy-color"
             class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">format_color_text</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="vishraam-heavy-color">
        </ul>
        <span class="mdl-switch__label">Vishraam Heavy Color</span>
        <br/>
		<div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="vishraam-heavy-character" value=";">
            <label class="mdl-textfield__label" for="vishraam-heavy-character"></label>
        </div>
        <span class="mdl-switch__label">Vishraam Heavy Character</span>-->

        <div class="sep"></div>

        <h1>Experimental</h1>
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="akhand-paath-view">
            <input type="checkbox" id="akhand-paath-view" class="mdl-switch__input">
            <span class="mdl-switch__label">Akhand Paath View</span>
        </label>
    </div>
    {{template "navibar"}}
</body>
</html>
{{end}}
