{{define "settingsPage"}}
<!DOCTYPE html>
<html>
    <head>
        {{template "header"}}
		<script>
        	var settingsJSON = jQuery.parseJSON('{{.SettingsJSON}}');
        	function updateSettingsJson() {
				if (typeof remote === "object" && server == "") { 
                    $.post('/postSettings', JSON.stringify(settingsJSON), null, 'json');
                }
        	}
            $( window ).load(function () {
            	hotkeys();
                $('#layout-menu > li').click(function(){
                	$('#layout-span').text($(this).text());
                    window.parent.$('body.presentation').removeClass(function (index, className) {
                    	return (className.match (/(^|\s)layout-\S+/g) || []).join(' ');
                	});
                    window.parent.$('body.presentation').addClass('layout-'+$(this).text().replace(/\s/g, "-").toLowerCase());
                    settingsJSON["layout"] = $('#layout-span').text();
                    updateSettingsJson();
    			});
                $('#navigator-height-menu > li').click(function(){
                	$('#navigator-height-span').text($(this).text());
                    window.parent.$('body.presentation').removeClass(function (index, className) {
                    	return (className.match (/(^|\s)navigator-height-\S+/g) || []).join(' ');
                	});
                    window.parent.$('body.presentation').addClass('navigator-height-'+$(this).text().replace(/\s/g, "-").toLowerCase());
				    settingsJSON["navigator-height"] = $('#navigator-height-span').text();
                    updateSettingsJson();
    			});
                $('#larivaar-gurbani').change(function(){
    				window.parent.$('body.presentation').toggleClass('hide-gurbani-spaces');
				    settingsJSON["larivaar-gurbani"] = $('#larivaar-gurbani').prop('checked');
                    updateSettingsJson();
    			});
                $('#split-gurbani-lines').change(function(){
    				window.parent.$('body.presentation').toggleClass('split-gurbani-lines');
				    settingsJSON["split-gurbani-lines"] = $('#split-gurbani-lines').prop('checked');
                    updateSettingsJson();
    			});
                $('#english-translation').change(function(){
    				//var display = this.checked ? 'block' : 'none';
    				//window.parent.$('.translation').toggle();
    				// this.checked ? window.parent.$('.translation').show() : window.parent.$('.translation').hide();
                    // window.parent.$('#ssetran').prop('disabled', function(i, v) {return !v;});
    				window.parent.$('body.presentation').toggleClass('hide-english-translation');
				    settingsJSON["english-translation"] = $('#english-translation').prop('checked');
                    updateSettingsJson();
    			});
                $('#punjabi-translation').change(function(){
    				window.parent.$('body.presentation').toggleClass('hide-punjabi-translation');
                    settingsJSON["punjabi-translation"] = $('#punjabi-translation').prop('checked');
                    updateSettingsJson();
    			});
                $('#english-transliteration').change(function(){
    				window.parent.$('body.presentation').toggleClass('hide-english-transliteration');
                    settingsJSON["english-transliteration"] = $('#english-transliteration').prop('checked');
                    updateSettingsJson();
    			});
                $('#next-line').change(function(){
    				window.parent.$('body.presentation').toggleClass('hide-next-line');
				    settingsJSON["next-line"] = $('#next-line').prop('checked');
                    updateSettingsJson();
    			});
                $('#font-size').change(function(){
                    window.parent.$('body.presentation').removeClass(function (index, className) {
                    	return (className.match (/(^|\s)fs-\S+/g) || []).join(' ');
                	});
                    window.parent.$('body.presentation').addClass('fs-'+$('#font-size').val());
                    settingsJSON["font-size"] = $('#font-size').val();
                    updateSettingsJson();
    			});
                $('#color-scheme-menu > li').click(function(){
                	$('#color-scheme-span').text($(this).text());
                    window.parent.$('body.presentation').removeClass(function (index, className) {
                    	return (className.match (/(^|\s)color-scheme-\S+/g) || []).join(' ');
                	});
                	window.parent.$('body.presentation').addClass('color-scheme-'+$(this).text().replace(/\s/g, "-").toLowerCase());
                	$('body').removeClass(function (index, className) {
                    	return (className.match (/(^|\s)color-scheme-\S+/g) || []).join(' ');
                	});
                	$('body').addClass('color-scheme-'+$('#color-scheme-span').text().replace(/\s/g, "-").toLowerCase());
                    settingsJSON["color-scheme"] = $('#color-scheme-span').text();
                	updateSettingsJson();
            	});
                $('#background-image').change(function(){
    				window.parent.$('body.presentation').toggleClass('hide-background-image');
				    settingsJSON["background-image"] = $('#background-image').prop('checked');
                    updateSettingsJson();
    			});
                $('#vishraam-colors').change(function(){
    				window.parent.$('body.presentation').toggleClass('hide-vishraam-colors');
				    settingsJSON["vishraam-colors"] = $('#vishraam-colors').prop('checked');
                    updateSettingsJson();
    			});
    			$('.mdl-menu__item').click(function() {
    				// colors
    				$("#"+$(this).parent().data("for")).data("color", $(this).text());
                    updateSettingsJson();
    			});
                $('#vishraam-characters').change(function(){
    				window.parent.$('body.presentation').toggleClass('hide-vishraam-characters');
				    settingsJSON["vishraam-characters"] = $('#vishraam-characters').prop('checked');
                    updateSettingsJson();
    			});
                $('#vishraam-light').change(function(){
    				window.parent.$('body.presentation').toggleClass('hide-vishraam-light');
                    settingsJSON["vishraam-light"] = $('#vishraam-light').prop('checked');
                    updateSettingsJson();
    			});
                $('#vishraam-medium').change(function(){
    				window.parent.$('body.presentation').toggleClass('hide-vishraam-medium');
				    settingsJSON["vishraam-medium"] = $('#vishraam-medium').prop('checked');
                    updateSettingsJson();
    			});
                $('#vishraam-heavy').change(function(){
    				window.parent.$('body.presentation').toggleClass('hide-vishraam-heavy');
				    settingsJSON["vishraam-heavy"] = $('#vishraam-heavy').prop('checked');
                    updateSettingsJson();
    			});
                $('#akhand-paath-view').change(function(){
                    settingsJSON["akhand-paath-view"] = $('#akhand-paath-view').prop('checked');
                    updateSettingsJson();
    			});
    			// $('#fg-color').change(function(){
    				// window.parent.$('body').css('color', $(this).val());
				    // settingsJSON["foreground-color"] = $('#foreground-color').val().replace('#', '');
                    // updateSettingsJson();
				// });
    			// $('#bg-color').change(function(){
    				// window.parent.$('body').css('background', $(this).val());
				    // settingsJSON["background-color"] = $('#background-color').val().replace('#', '');
                    // updateSettingsJson();
				// });
			});
			// get values from settings.json on first load, by default all values are "off"/"false"/1st
			$(function () {
    			$('#layout-span').text(settingsJSON["layout"]);
    			$('#navigator-height-span').text(settingsJSON["navigator-height"]);
        		$('#larivaar-gurbani').prop('checked', settingsJSON["larivaar-gurbani"]);
        		$('#split-gurbani-lines').prop('checked', settingsJSON["split-gurbani-lines"]);
        		$('#english-translation').prop('checked', settingsJSON["english-translation"]);
        		$('#punjabi-translation').prop('checked', settingsJSON["punjabi-translation"]);
        		$('#english-transliteration').prop('checked', settingsJSON["english-transliteration"]);
        		$('#next-line').prop('checked', settingsJSON["next-line"]);
    			$('#font-size').val(settingsJSON["font-size"]);
    			$('#color-scheme-span').text(settingsJSON["color-scheme"]);
        		$('#background-image').prop('checked', settingsJSON["background-image"]);
        		$('#vishraam-colors').prop('checked', settingsJSON["vishraam-colors"]);
        		$('#vishraam-characters').prop('checked', settingsJSON["vishraam-characters"]);
        		$('#vishraam-light').prop('checked', settingsJSON["vishraam-light"]);
        		$('#vishraam-medium').prop('checked', settingsJSON["vishraam-medium"]);
        		$('#vishraam-heavy').prop('checked', settingsJSON["vishraam-heavy"]);
        		$('#akhand-paath-view').prop('checked', settingsJSON["akhand-paath-view"]);
        	});
		</script>
    </head>
<body class="BodySettings {{.Theme}}">
    {{template "titlebar" .}}
	<div class="scrollBetweenBars settings">
    	<h1>Layout</h1>
<!--		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="sticky-rahao">
            <input type="checkbox" id="sticky-rahao" class="mdl-switch__input">
            <span class="mdl-switch__label">Sticky Rahao</span>
        </label>-->
<!--		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="gurbani">
            <input type="checkbox" id="gurbani" class="mdl-switch__input">
            <span class="mdl-switch__label">Gurbani</span>
        </label>-->
		<button id="layout"
		        class="mdl-button mdl-js-button mdl-button--icon">
		  <i class="material-icons">format_line_spacing</i>
		</button>
		<ul id="layout-menu"
			class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
		    for="layout">
		  <li class="mdl-menu__item">Normal</li>
		  <li class="mdl-menu__item">Space Around</li>
		  <li class="mdl-menu__item">Space Between</li>
		  <li class="mdl-menu__item">Space Evenly</li>
		</ul>
        <span class="mdl-switch__label" id="layout-span"></span>
		<div class="clear"></div>

		<button id="navigator-height"
		        class="mdl-button mdl-js-button mdl-button--icon">
		  <i class="material-icons">branding_watermark</i>
		</button>
		<ul id="navigator-height-menu"
			class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
		    for="navigator-height">
		  <li class="mdl-menu__item">Short</li>
		  <li class="mdl-menu__item">Medium</li>
		  <li class="mdl-menu__item">Tall</li>
		</ul>
        <span class="mdl-switch__label" id="navigator-height-span"></span>
		<div class="clear"></div>

		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="larivaar-gurbani">
            <input type="checkbox" id="larivaar-gurbani" class="mdl-switch__input">
            <span class="mdl-switch__label">Larivaar Gurbani</span>
        </label>
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="split-gurbani-lines">
            <input type="checkbox" id="split-gurbani-lines" class="mdl-switch__input">
            <span class="mdl-switch__label">Split Gurbani Lines</span>
        </label>
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="english-translation">
            <input type="checkbox" id="english-translation" class="mdl-switch__input">
            <span class="mdl-switch__label">English Translation</span>
        </label>
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="punjabi-translation">
            <input type="checkbox" id="punjabi-translation" class="mdl-switch__input">
            <span class="mdl-switch__label">Punjabi Translation</span>
        </label>
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="english-transliteration">
            <input type="checkbox" id="english-transliteration" class="mdl-switch__input">
            <span class="mdl-switch__label">English Transliteration</span>
        </label>
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="next-line">
            <input type="checkbox" id="next-line" class="mdl-switch__input">
            <span class="mdl-switch__label">Next Line</span>
        </label>
        <p style="margin-top: .75em;">Font Size</p>
        <p style="width:100%; ">
            <input id="font-size" class="mdl-slider mdl-js-slider" type="range" id="s1" min="1" max="12" value="6" step="1">
        </p>

        <div class="sep"></div>

        <h1>Theme</h1>
		<button id="color-scheme"
		        class="mdl-button mdl-js-button mdl-button--icon">
		  <i class="material-icons">format_paint</i>
		</button>
		<ul id="color-scheme-menu"
			class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
		    for="color-scheme">
		  <li class="mdl-menu__item">Day</li>
		  <li class="mdl-menu__item">Night</li>
		  <li class="mdl-menu__item">Philosophiae</li>
		</ul>
        <span class="mdl-switch__label" id="color-scheme-span"></span>

		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="background-image">
            <input type="checkbox" id="background-image" class="mdl-switch__input">
            <span class="mdl-switch__label">Background Image</span>
        </label>
		<!--<h1>Theme Custom</h1>
		<button id="gurbani-color"
             class="mdl-button color-picker mdl-js-button mdl-button--icon">
            <div class="material-icons cb white"></div>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="gurbani-color">
        </ul>
        <span class="mdl-switch__label">Gurbani</span>
        <br/>
		<button id="english-translation-color"
             class="mdl-button color-picker mdl-js-button mdl-button--icon">
            <div class="material-icons cb white"></div>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="english-translation-color">
        </ul>
        <span class="mdl-switch__label">English Translation</span>
        <br/>
		<button id="punjabi-translation-color"
             class="mdl-button color-picker mdl-js-button mdl-button--icon">
            <div class="material-icons cb white"></div>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="punjabi-translation-color">
        </ul>
        <span class="mdl-switch__label">Punjabi Translation</span>
        <br/>
		<button id="english-transliteration-color"
             class="mdl-button color-picker mdl-js-button mdl-button--icon">
            <div class="material-icons cb white"></div>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="english-transliteration-color">
        </ul>
        <span class="mdl-switch__label">English Transliteration</span>
        <br/>
		<button id="background-color"
             class="mdl-button color-picker mdl-js-button mdl-button--icon">
            <div class="material-icons cb black"></div>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="background-color">
        </ul>
        <span class="mdl-switch__label">Background</span> -->

        <div class="sep"></div>

        <h1>Vishraam/Pauses</h1>
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="vishraam-colors">
            <input type="checkbox" id="vishraam-colors" class="mdl-switch__input">
            <span class="mdl-switch__label">Vishraam Colors</span>
        </label>
<!--		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="vishraam-colors-strong">
            <input type="checkbox" id="vishraam-colors-strong" class="mdl-switch__input">
            <span class="mdl-switch__label">Vishraam Colors Strong</span>
        </label>-->
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="vishraam-characters">
            <input type="checkbox" id="vishraam-characters" class="mdl-switch__input">
            <span class="mdl-switch__label">Vishraam Characters</span>
        </label>

		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="vishraam-light">
            <input type="checkbox" id="vishraam-light" class="mdl-switch__input">
            <span class="mdl-switch__label">Vishraam Light</span>
        </label>
<!--		<button id="vishraam-light-color"
             class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">format_color_text</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="vishraam-light-color"
            data-color="asd">
        </ul>
        <span class="mdl-switch__label">Vishraam Light Color</span>
        <br/>
		<div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="vishraam-light-character" value=".">
            <label class="mdl-textfield__label" for="vishraam-light-character"></label>
        </div>
        <span class="mdl-switch__label">Vishraam Light Character</span>-->

		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="vishraam-medium">
            <input type="checkbox" id="vishraam-medium" class="mdl-switch__input">
            <span class="mdl-switch__label">Vishraam Medium</span>
        </label>
<!--		<button id="vishraam-medium-color"
             class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">format_color_text</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="vishraam-medium-color">
        </ul>
        <span class="mdl-switch__label">Vishraam Medium Color</span>
        <br/>
		<div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="vishraam-medium-character" value=",">
            <label class="mdl-textfield__label" for="vishraam-medium-character"></label>
        </div>
        <span class="mdl-switch__label">Vishraam Medium Character</span>-->

		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="vishraam-heavy">
            <input type="checkbox" id="vishraam-heavy" class="mdl-switch__input">
            <span class="mdl-switch__label">Vishraam Heavy</span>
        </label>
<!--		<button id="vishraam-heavy-color"
             class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">format_color_text</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="vishraam-heavy-color">
        </ul>
        <span class="mdl-switch__label">Vishraam Heavy Color</span>
        <br/>
		<div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="vishraam-heavy-character" value=";">
            <label class="mdl-textfield__label" for="vishraam-heavy-character"></label>
        </div>
        <span class="mdl-switch__label">Vishraam Heavy Character</span>-->
        
        <div class="sep"></div>

        <h1>Experimental</h1>
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="akhand-paath-view">
            <input type="checkbox" id="akhand-paath-view" class="mdl-switch__input">
            <span class="mdl-switch__label">Akhand Paath View</span>
        </label>
    </div>
    {{template "navibar"}}
</body>
</html>
{{end}}
