.line {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1vh;
    text-align: center;
    overflow: hidden;
}

.line p {
    margin: 0;
}

.line .gurmukhi {
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-size: 8vh;
    color: var(--display-gurmukhi-color);
}

.line .gurmukhi span {
    margin-right: 2.25vh;
    display: inline-block;
}

.line .gurmukhi span:last-child {
    margin-right: 0;
}

.line .gurmukhi.larivaar span {
    margin-right: 0;
}

.line .gurmukhi .heavy {
    color: var(--display-vishraam-heavy);
}

.line .gurmukhi .medium {
    color: var(--display-vishraam-medium);
}

.line .gurmukhi .light {
    color: var(--display-vishraam-light);
}

.line .translation {
    font-family: "Noto Sans Medium", sans-serif;
    font-size: 4vh;
    transition: opacity 100ms ease-in;
    opacity: 0.05;
    color: var(--display-translation-color);
}

.line .punjabi {
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-size: 4vh;
    transition: opacity 150ms ease-in;
    opacity: 0.1;
    color: var(--display-punjabi-color);
}

.line .transliteration {
    font-family: "Noto Sans Regular", sans-serif;
    font-size: 4vh;
    transition: opacity 200ms ease-in;
    opacity: 0.2;
    color: var(--display-transliteration-color);
}

.line .fade-enter-done, .line .fade-appear-done {
    opacity: 1;
}
