.navigator {
    height: 100%;
}

.navigator button {
    font-size: 30px;
    margin-right: 20px;
}

.navigator .name {
    text-align: center;
    flex: 1;
    font-family: "Noto Sans Medium", sans-serif;
    font-size: 28px;
}

.navigator .bottom-bar {
    bottom: 0;
    top: initial;
}

.navigator .title-bar {
    background-color: #212121;
    color: #9e9e9e;
}
