.navigator {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.navigator .text {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow-x: hidden;
}

.navigator-controls .autoselect {
  float: right;
}

.navigator .main.meta, .navigator .next.meta {
  color: red !important;
}

@media only screen and (min-device-width: 320px)
                   and (max-device-width: 450px),
       only screen and (min-device-height: 320px)
                   and (max-device-height: 450px) {

  .navigator .text {
    white-space: inherit;
  }
  
}