.navigator {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.navigator .text {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow-x: hidden;
}

.navigator-controls .autoselect {
  float: right;
}

.navigator .main.meta, .navigator .next.meta {
  color: red !important;
}

.mobile .navigator .text,
.tablet .navigator .text {
  white-space: inherit;
}

.mobile.app .navigator-controls .line-counter {
  display: none;
}
