.search {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search .input {
  font-size: 1em;
  height: 2.25em;
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 0.2em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  background-color: var(--controller-search-background-color);
  color: var(--controller-text-color);
  transition: 0.2s all;
}

.search input {
  padding: 0 0.5em;
  font-size: 1.25em;
  font-family: 'Open Gurbani Akhar Bold';
  height: 100%;
}

.search .clear {
  transition: 0.2s all;
}

.search .input-focused {
  background-color: var(--controller-search-focused-background-color);
}

.search .results {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.search .results .result .matched.words {
  color: var(--controller-search-match-color);
}

.mobile .search .input,
.tablet .search .input {
  min-height: 3.2em;
}
