.popover-box-text{
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
    color: var(--controller-text-color);
    background-color: var(--controller-background-color);
}

.popver-buttons {
    margin-top: 10px;
}

.db-viewer-button{
    padding-right: 10px;
    color: var(--settings-text-color) !important;
    background-color: var(--settings-setting-off-color) !important;
}

.db-viewer-button:hover {
    color: var(--settings-background-color) !important;
    background-color: var(--settings-setting-on-color) !important;
}

.copy-shabad-button{
    color: var(--settings-text-color) !important;
    background-color: var(--settings-setting-off-color) !important;
}

.copy-shabad-button:hover{
    color: var(--settings-background-color) !important;
    background-color: var(--settings-setting-on-color) !important;
}