.popover-box-text{
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
    color: var(--controller-text-color);
    background-color: var(--controller-background-color);
}

.popver-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.copy-shabad.Mui-disabled{
    background-color: #6e6b6b44;
}

.button {
    color: var(--settings-text-color) !important;
    background-color: var(--settings-setting-off-color);
}

.button:hover {
    color: var(--settings-background-color) !important;
    background-color: var(--settings-setting-on-color) !important;
}

