@import url('./fonts/noto-sans/index.css');
@import url('./fonts/OpenGurbaniAkhar/index.css');
@import url('./fonts/OpenAnmolUni/index.css');
@import url('@fontsource/roboto');

/* Shared CSS constants */
:root {
  --animation-duration: 0.125s;
  --animation-line-delay: var(--animation-duration);
  --animation-sleepy-duration: calc(2 * var(--animation-line-delay));
  --overscan-vertical-padding: 5vh;
  --overscan-horizontal-padding: 5vw;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 2px;
}
