body {
  &.presentation {
    .vishraamHeavy, .vishraamMedium, .vishraamLight {
      color: inherit;
    }
  }
  &.presentation {
    .vishraamHeavy > .vishraamChar, .vishraamMedium > .vishraamChar, .vishraamLight > .vishraamChar {
      display: none;
    }
  }
  &.presentation {
    .line {
      display: none !important;
    }
    .active {
      .gurbani-larivaar {
        display: none;
        color: #ffeb3b;
        background: rgba(63, 81, 181, 0.5);
        text-shadow: black 0.05em 0.05em 0.2em;
        font-size: 9vh;
        .bgw {
          background: none;
        }
      }
      .gurbani-padbandh {
        display: block;
        color: #ffeb3b;
        background: rgba(63, 81, 181, 0.5);
        text-shadow: black 0.05em 0.05em 0.2em;
        font-size: 9vh;
        .bgw {
          background: none;
        }
      }
      .translation {
        display: block;
        color: white;
        background: rgba(63, 81, 181, 0.5);
        text-shadow: black 0.05em 0.05em 0.2em;
        font-size: 4.5vh;
        .bgw {
          background: none;
        }
      }
      .transliteration {
        display: none;
        color: white;
        background: rgba(63, 81, 181, 0.5);
        text-shadow: black 0.05em 0.05em 0.2em;
        font-size: 4.5vh;
        .bgw {
          background: none;
        }
      }
      .darpan {
        display: none;
        color: white;
        background: rgba(63, 81, 181, 0.5);
        text-shadow: black 0.05em 0.05em 0.2em;
        font-size: 4.5vh;
        .bgw {
          background: none;
        }
      }
    }
    .line > div {
      margin-bottom: 0;
      padding: 0vh;
      justify-content: flex-end;
      position: relative;
      top: 0;

      & > div {
        padding: 0;
      }
    }
  }
}

body.presentation .active {
  display: flex !important;
  min-height: 100vh !important;
  .gurmukhifont, .translation, .darpan, .transliteration {
    margin: 0;
  }
  .gurmukhifont {
    line-height: 1.45;
  }
  .translation {
    line-height: 1.39;
  }
  .darpan {
    line-height: 1.3175;
  }
  .transliteration {
    line-height: 1.39;
  }
}

body.presentation .active .gurmukhifont > div > div {
  padding: .1em .16666em 0;
}
.gurmukhifont .nbsp:first-child {
  display: none;
}
.gurmukhifont > div:first-child > div:first-child .nbsp:first-child {
  display: inline-block;
}

body.presentation {
    background: none;
}
