body {
  &.presentation {
    .vishraamHeavy, .vishraamMedium, .vishraamLight {
      color: inherit;
    }
  }
  &.presentation .active .gurmukhifont > div > div:first-child:before {
    content: "\00a0";
    /* font-size: 1em; */
  }
  &.presentation {
    .vishraamHeavy > .vishraamChar, .vishraamMedium > .vishraamChar, .vishraamLight > .vishraamChar {
      display: none;
    }
  }
  &.presentation {
    .gurmukhifont {
      display: none !important;
    }
    .translation {
      display: none !important;
    }
    .transliteration {
      display: none !important;
    }
    .darpan {
      display: none !important;
    }
    .line {
      display: none !important;
    }
    .active {
      display: flex !important;
      min-height: 100vh !important;
      .gurmukhifont {
        > div > div {
          padding: .1em .25em 0 !important;
          &:first-child {
            padding: .1em 0 0 !important;
          }
        }
      }
      .translation {
        font-family: "English Translation", sans-serif;
        font-size: 4.5vh !important;
        line-height: 1.85em;
        margin: 0;
        -webkit-text-stroke: 1px #0a0a0a;
        text-shadow: 3px 3px 0 #0a0a0a, -1px -1px 0 #0a0a0a,   1px -1px 0 #0a0a0a, -1px 1px 0 #0a0a0a, 1px 1px 0 #0a0a0a  !important;
      }
    }
    .line > div {
      margin-bottom: 0 !important;
      /*-webkit-text-stroke: 1px black !important;*/
      padding-bottom: .175em !important;
      justify-content: flex-end;
    }
  }
}

body {
  &.presentation {
    background: none; /* was green 00ff00 */
    .active {
      .gurmukhifont {
        color: #FFFFE5 !important;
        > div > div {
          background: #0a0a0a !important;
        }
      }
      .translation {
        color: #ffffe5 !important;
      }
    }
  }
}