@import url("./fonts/noto-sans/index.css");

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.app p, .app h2, .app span, .app div, .app svg, .app button {
    color: inherit;
    font-family: "Noto Sans Regular", sans-serif;
}

.navigator-container {
    position: absolute;
    right:0;
    bottom: 0;
    height: 256px;
    width: 416px;
}
