@import url("./fonts/noto-sans/index.css");

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
}

.navigator-container {
    position: absolute;
    right:0;
    bottom: 0;
    height: 256px;
    width: 416px;
}

.navigator-container .expand-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 32px;
}
