@import url("./fonts/noto-sans/index.css");

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app p, .app h2, .app span, .app div, .app svg, .app button {
    color: inherit;
    font-family: "Noto Sans Regular", sans-serif;
}
